<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Visit Busan AdminPage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/adminPage.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <th:block layout:fragment="mystyle"></th:block>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
</head>
<body>
    <div class="admin-page">
        <!--header-->
        <th:block th:replace="~{fragments/header_side_admin :: header-side-inner}"></th:block>

        <!--content-->
        <div class="contant-box">
            <th:block th:replace="~{fragments/header_admin :: header-inner}"></th:block>
            <div layout:fragment="content"></div>
        </div>
    </div>

    <!--footer-->
    <th:block th:replace="~{fragments/footer :: f-inner}"></th:block>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <th:block layout:fragment="myscript"></th:block>
</body>
</html>