<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Visit Busan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/sub-style.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <th:block layout:fragment="mystyle"></th:block>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
</head>
<body>
    <div>
        <!--header-->
        <th:block th:replace="~{fragments/header :: header-inner}"></th:block>

        <!--content-->
        <div layout:fragment="content"></div>

        <!--footer-->
        <th:block th:replace="~{fragments/footer :: f-inner}"></th:block>

    </div>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

    <th:block layout:fragment="basescript"></th:block>

    <th:block layout:fragment="myscript"></th:block>

</body>
</html>