<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>travelGuide</title>
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/css/sub-style.css" rel="stylesheet">
    <link href="../../assets/css/header.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <!-- header -->
        <header class="header-inner">
            <div class="logo-box">
                <a href="#" class="logo">
                    <img src="../../assets/images/mainpage/header_logo.png" alt="로고이미지" class="mo">
                </a>
            </div>
            <div class="menu_open">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <!-- <div class="menu-box active"> -->
            <div class="menu-box">
                <div class="menu-btn">
                    <div class="menu_close">
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <ul class="menu-list">
                    <li><a href="#">부산에 가면</a>
                        <ul class="sub-menu01">
                            <li><a href="#">추천여행</a>
                                <ul class="sub-menu02">
                                    <li><a href="#">명소</a></li>
                                    <li><a href="#">음식</a></li>
                                    <li><a href="#">숙박</a></li>
                                </ul>
                            </li>
                            <li><a href="#">여행코스</a>
                                <ul>
                                    <li><a href="#">일정여행</a></li>
                                    <li><a href="#">테마여행</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">여행정보</a>
                        <ul class="sub-menu01">
                            <li><a href="#">가이드북</a></li>
                            <li><a href="#">여행준비정보</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">여행공유</a>
                        <ul class="sub-menu01">
                            <li><a href="#">리뷰</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">페스티벌</a>
                        <ul class="sub-menu01">
                            <li><a href="#">축제행사</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="link-box">
                    <li><a href="#">로그인</a></li>
                    <li><a href="#">마이페이지</a></li>
                    <li><a href="#">회원가입</a></li>
                </ul>
            </div>
        </header>
        <!-- /header -->
        <div class="body">
            <div class="topBox">
                <h1>가이드북</h1>
            </div>
            <div class="search_array">
                <div class="search-inner">
                    <div class="all">전체 <span>71</span>건</div>
                    <div class="">현재페이지 <span>1/6</span></div>
                </div>
                <div class="search-inner">
                    <div class="sort">
                        <select class="select-box form-select" aria-label="Default select example">
                            <option selected="" value="">전체</option>
                            <option value="G01">부산여행</option>
                            <option value="G02">테마여행</option>
                            <option value="G03">음식</option>
                            <option value="G04">지역</option>
                        </select>
                        <select class="select-box form-select" aria-label="Default select example">
                            <option selected="" value="DATA_TITLE">제목</option>
                            <option value="USER_NICK">작성자</option>
                            <option value="DATA_CONTENT">내용</option>
                        </select>
                        <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="">
                        
                    </div>
                    <button class="btn btn-search" type="submit">검색</button>
                </div>
            </div>
            <div class="postsBox">
                <!-- 게시글 (가로4 * 세로3) -->
                <div class="post downBox">
                    <div class="postImgBox"><img src="../../assets/images/festivalpage/busan1.jpg" alt="사진"></div>
                    <div class="postTitle">부산관광지도</div>
                    <div class="down-btn">다운로드</div>
                </div>
                <div class="post downBox">
                    <div class="postImgBox"><img src="../../assets/images/festivalpage/busan1.jpg" alt="사진"></div>
                    <div class="postTitle">부산관광지도</div>
                    <div class="down-btn">다운로드</div>
                </div>
                <div class="post downBox">
                    <div class="postImgBox"><img src="../../assets/images/festivalpage/busan1.jpg" alt="사진"></div>
                    <div class="postTitle">부산관광지도</div>
                    <div class="down-btn">다운로드</div>
                </div>
                <div class="post downBox">
                    <div class="postImgBox"><img src="../../assets/images/festivalpage/busan1.jpg" alt="사진"></div>
                    <div class="postTitle">부산관광지도</div>
                    <div class="down-btn">다운로드</div>
                </div>
                <div class="post downBox">
                    <div class="postImgBox"><img src="../../assets/images/festivalpage/busan1.jpg" alt="사진"></div>
                    <div class="postTitle">부산관광지도</div>
                    <div class="down-btn">다운로드</div>
                </div>
                <div class="post downBox">
                    <div class="postImgBox"><img src="../../assets/images/festivalpage/busan1.jpg" alt="사진"></div>
                    <div class="postTitle">부산관광지도</div>
                    <div class="down-btn">다운로드</div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/js/bootstrap.min.js"></script>
</body>

</html>