<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/main-style.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
</head>

<body>
    <div class="main" layout:fragment="content">
        <!-- 지금 부산에 가면 -->
        <div id="carouselExample" class="slide mainSildeBox">
            <div class="carousel-title">
                <h1>지금 <b>부산</b>에 가면<br><span>VISIT BUSAN</span></h1>
                <div class="arrow-btn">
                    <span class="l-btn"></span>
                    <span class="r-btn"></span>
                </div>
            </div>
            <div class="carousel-inner f-sliderList">
                <div class="carousel-item active f-sliderBox">
                    <div class="f-slider-title">
                        <h2>바다 따라, <br>WATERBOMB</h2>
                        <span class="date">기간 2024. 7. 27.(토)</span>
                    </div>
                </div>
                <div class="carousel-item active f-sliderBox">
                    <div class="f-slider-title">
                        <h2>바다 따라, <br>WATERBOMB</h2>
                        <span class="date">기간 2024. 7. 27.(토)</span>
                    </div>
                </div>
                <div class="carousel-item f-sliderBox">
                    <div class="f-slider-title">
                        <h2>바다 따라, <br>WATERBOMB</h2>
                        <span class="date">기간 2024. 7. 27.(토)</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- end main 슽라이드-->

        <!-- 찾아가는 명소 -->
        <div class="goodPlaces">
            <div class="titleBox">
                <h2 class="title">찾아가는 명소</h2>
                <div class="link">바로가기</div>
            </div>
            <div class="innerbox">
                <div class="g-imgBox">
                    <div class="g-item">
                    </div>
                    <div class="g-item">
                    </div>
                    <div class="g-item">
                    </div>
                    <div class="g-item">
                    </div>
                    <div class="g-item">
                    </div>
                    <div class="g-item">
                    </div>
                    <div class="g-item">
                    </div>
                    <div class="g-item">
                    </div>
                </div> <!-- goodPlaces -->
            </div>
        </div>
        <!-- 가이드 메뉴 -->

        <div class="guideMenu">
            <!-- 이미지 position 셋팅 해서 가운데 꽉차게 -->
            <div class="imgBox guide-imgBox">
                <div class="guide-text w-50">
                    <div>restaurant</div>
                    <div>festival</div>
                    <div>guide</div>
                </div><img src="/images/mainpage/food.jpg">
                <!-- 이미지 위로 position 셋팅 -->

            </div>
        </div>


        <!-- 부산 여행 사진집 -->

        <div class="travelPictures">
            <div class="innerbox">
                <div class="titleBox">
                    <h2 class="title">부산 여행 사진집</h2>
                    <div class="link">바로가기</div>
                </div>
                <div class="t-imgBox">
                    <div class="t-item"><img src="/images/mainpage/cloudStroe.jpg">
                        <div class="t-tag">#광안리해수욕장</div>
                        <div class="t-title">Buy 부산, bye 부산: 부산의 추억을 담아갈 수 있는 소품샵 3곳Buy 부산, bye 부산: 부산의 추억을 담아갈 수 있는 소품샵 3곳</div>
                        <div class="t-date">2024.07.12</div>
                    </div>
                    <div class="t-item"><img src="/images/mainpage/cloudStroe.jpg">
                        <div class="t-tag">#광안리해수욕장</div>
                        <div class="t-title">Buy 부산, bye 부산: 부산의 추억을 담아갈 수 있는 소품샵 3곳Buy 부산, bye 부산: 부산의 추억을 담아갈 수 있는 소품샵 3곳</div>
                        <div class="t-date">2024.07.12</div>
                    </div>
                </div>
            </div> <!-- end travelPictures-->
        </div><!-- end myBox-->

        <!-- 색다른 테마여행-->
        <div class="myBox">
            <div class="outOfOrdinary">
                <div class="titleBox">
                    <h2 class="title">색다른 테마여행</h2>
                    <div class="btn-more me-2 active">이색여행</div>
                    <div class="btn-more">도보여행</div>
                </div>

                <div class="ord-imgBox">
                    <!-- 슬라이더 position 셋팅필요-->
                    <ul class="ord-imgSlide">
                        <!-- 이미지 position 셋팅 해서 가운데 꽉차게 -->
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div> <!-- end outOfOrdinary-->
        </div> <!-- end myBox-->

        <!-- end myContainer-->

    </div>


    <th:block layout:fragment="myscript"></th:block>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>