<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<head>
    <link th:href="@{/css/main-style.css}" rel="stylesheet">
</head>

<div class="main" layout:fragment="content">
    <!-- 지금 부산에 가면 -->
    <div class="mainSildeBox">
        <div class="carousel-title">
            <h1>지금 <b>부산</b>에 가면<br><span>VISIT BUSAN</span></h1>
            <div class="arrow-btn">
                <span class="l-btn" onclick="prevSlide()"></span>
                <span class="r-btn" onclick="nextSlide()"></span>
            </div>
        </div>
        <div class="slider-container">
            <div class="slider f-sliderList">
                <div class="f-sliderBox">
                    <div class="f-slider-title">
                        <h2>바다 따라, <br>WATERBOMB</h2>
                        <span class="date">기간 2024. 7. 27.(토)</span>
                    </div>
                </div>
                <div class="f-sliderBox">
                    <div class="f-slider-title">
                        <h2>바다 따라, <br>WATERBOMB</h2>
                        <span class="date">기간 2024. 7. 27.(토)</span>
                    </div>
                </div>
                <div class="f-sliderBox">
                    <div class="f-slider-title">
                        <h2>바다 따라, <br>WATERBOMB</h2>
                        <span class="date">기간 2024. 7. 27.(토)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end main 슽라이드-->

    <!-- 찾아가는 명소 -->
    <div class="goodPlaces">
        <div class="titleBox">
            <h2 class="title">찾아가는 명소</h2>
            <div class="link">바로가기</div>
        </div>
        <div class="innerbox">
            <div class="g-imgBox">
                <div class="g-item">
                </div>
                <div class="g-item">
                </div>
                <div class="g-item">
                </div>
                <div class="g-item">
                </div>
                <div class="g-item">
                </div>
                <div class="g-item">
                </div>
                <div class="g-item">
                </div>
                <div class="g-item">
                </div>
            </div> <!-- goodPlaces -->
        </div>
    </div>
    <!-- 가이드 메뉴 -->

    <div class="guideMenu">
        <!-- 이미지 position 셋팅 해서 가운데 꽉차게 -->
        <div class="imgBox guide-imgBox">
            <div class="guide-text w-50">
                <div>restaurant</div>
                <div>festival</div>
                <div>guide</div>
            </div><img src="/images/mainpage/food.jpg">
            <!-- 이미지 위로 position 셋팅 -->
        </div>
    </div>


    <!-- 부산 여행 사진집 -->
    <div class="travelPictures">
        <div class="innerbox">
            <div class="titleBox">
                <h2 class="title">부산 여행 사진집</h2>
                <div class="link">바로가기</div>
            </div>
            <div class="t-imgBox row">
                <div class="t-item col-md-6">
                    <div class="image-container">
                        <img class="img-tag" src="/images/samples/busan1.jpg">
                        <!-- <img src="/images/mainpage/cloudStroe.jpg"> -->
                    </div>
                    <div class="t-tag">#광안리해수욕장</div>
                    <div class="t-title">Buy 부산, bye 부산: 부산의 추억을 담아갈 수 있는 소품샵 3곳Buy 부산, bye 부산: 부산의 추억을 담아갈 수 있는 소품샵 3곳</div>
                    <div class="t-date">2024.07.12</div>
                </div>
                <div class="t-item col-md-6">
                    <div class="image-container">
                        <img class="img-tag" src="/images/samples/busan1.jpg">
                        <!-- <img src="/images/mainpage/cloudStroe.jpg"> -->
                    </div>
                    <div class="t-tag">#광안리해수욕장</div>
                    <div class="t-title">Buy 부산, bye 부산: 부산의 추억을 담아갈 수 있는 소품샵 3곳Buy 부산, bye 부산: 부산의 추억을 담아갈 수 있는 소품샵 3곳</div>
                    <div class="t-date">2024.07.12</div>
                </div>
            </div>
        </div> <!-- end travelPictures-->
    </div><!-- end myBox-->

    <!-- 색다른 테마여행-->
    <div class="myBox">
        <div class="outOfOrdinary">
            <div class="titleBox">
                <h2 class="title">색다른 테마여행</h2>
                <div class="btn-more me-2 active">이색여행</div>
                <div class="btn-more">도보여행</div>
            </div>

            <div class="ord-imgBox">
                <ul class="ord-imgSlide">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div> <!-- end outOfOrdinary-->
    </div> <!-- end myBox-->

    <!-- Axios 라이브러리 연결 -->
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->

</div>

<!-- 메인 스크립트 연결 -->
<script th:src="@{/js/main.js}" layout:fragment="basescript"></script>

<!--/* 현재 페이지에서만 사용하는 script 정의 */-->
<script layout:fragment="myscript" th:inline="javascript">

</script>

</html>