<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/css/main-style.css" rel="stylesheet">
    <link href="../../assets/css/header.css" rel="stylesheet">
    <link href="../../assets/css/footer.css" rel="stylesheet">
</head>

<body>
    <div class="main">
        <!-- header -->
        <header class="header-inner">
            <div class="logo-box">
                <a href="#" class="logo">
                    <img src="../assets/images/mainpage/header_logo.png" alt="로고이미지" class="mo">
                </a>
            </div>
            <div class="menu-open">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <!-- <div class="menu-box active"> -->
            <div class="menu-box">
                <div class="menu-btn">
                    <div class="menu-close">
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <ul class="menu-list">
                    <li><a href="#">부산에 가면</a>
                        <ul class="sub-menu01">
                            <li><a href="#">추천여행</a>
                                <ul class="sub-menu02">
                                    <li><a href="#">명소</a></li>
                                    <li><a href="#">음식</a></li>
                                    <li><a href="#">숙박</a></li>
                                </ul>
                            </li>
                            <li><a href="#">여행코스</a>
                                <ul>
                                    <li><a href="#">일정여행</a></li>
                                    <li><a href="#">테마여행</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">여행정보</a>
                        <ul class="sub-menu01">
                            <li><a href="#">가이드북</a></li>
                            <li><a href="#">여행준비정보</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">여행공유</a>
                        <ul class="sub-menu01">
                            <li><a href="#">리뷰</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">페스티벌</a>
                        <ul class="sub-menu01">
                            <li><a href="#">축제행사</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="link-box">
                    <li><a href="#">로그인</a></li>
                    <li><a href="#">마이페이지</a></li>
                    <li><a href="#">회원가입</a></li>
                </ul>
            </div>
        </header>
        <!-- /header -->
        <!-- 지금 부산에 가면 -->
        <div id="carouselExample" class="slide mainSildeBox">
            <div class="carousel-title">
                <h1>지금 <b>부산</b>에 가면<br><span>VISIT BUSAN</span></h1>
                <div class="arrow-btn">
                    <span class="l-btn"></span>
                    <span class="r-btn"></span>
                </div>
            </div>
            <div class="carousel-inner f-sliderList">
                <div class="carousel-item active f-sliderBox">
                    <div class="f-slider-title">
                        <h2>바다 따라, <br>WATERBOMB</h2>
                        <span class="date">기간 2024. 7. 27.(토)</span>
                    </div>
                </div>
                <div class="carousel-item active f-sliderBox">
                    <div class="f-slider-title">
                        <h2>바다 따라, <br>WATERBOMB</h2>
                        <span class="date">기간 2024. 7. 27.(토)</span>
                    </div>
                </div>
                <div class="carousel-item f-sliderBox">
                    <div class="f-slider-title">
                        <h2>바다 따라, <br>WATERBOMB</h2>
                        <span class="date">기간 2024. 7. 27.(토)</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- end main 슽라이드-->

        <!-- 찾아가는 명소 -->
        <div class="goodPlaces">
            <div class="titleBox">
                <h2 class="title">찾아가는 명소</h2>
                <div class="link">바로가기</div>
            </div>
            <div class="innerbox">
                <div class="g-imgBox">
                    <div class="g-item">
                    </div>
                    <div class="g-item">
                    </div>
                    <div class="g-item">
                    </div>
                    <div class="g-item">
                    </div>
                    <div class="g-item">
                    </div>
                    <div class="g-item">
                    </div>
                    <div class="g-item">
                    </div>
                    <div class="g-item">
                    </div>
                </div> <!-- goodPlaces -->
            </div>
        </div>
        <!-- 가이드 메뉴 -->

        <div class="guideMenu">
            <!-- 이미지 position 셋팅 해서 가운데 꽉차게 -->
            <div class="imgBox guide-imgBox">
                <div class="guide-text w-50">
                    <div>restaurant</div>
                    <div>festival</div>
                    <div>guide</div>
                </div><img src="../../assets/images/mainpage/food.jpg">
                <!-- 이미지 위로 position 셋팅 -->

            </div>
        </div>


        <!-- 부산 여행 사진집 -->

        <div class="travelPictures">
            <div class="innerbox">
                <div class="titleBox">
                    <h2 class="title">부산 여행 사진집</h2>
                    <div class="link">바로가기</div>
                </div>
                <div class="t-imgBox">
                    <div class="t-item"><img src="../../assets/images/mainpage/cloudStroe.jpg">
                        <div class="t-tag">#광안리해수욕장</div>
                        <div class="t-title">Buy 부산, bye 부산: 부산의 추억을 담아갈 수 있는 소품샵 3곳Buy 부산, bye 부산: 부산의 추억을 담아갈 수 있는 소품샵 3곳</div>
                        <div class="t-date">2024.07.12</div>
                    </div>
                    <div class="t-item"><img src="../../assets/images/mainpage/cloudStroe.jpg">
                        <div class="t-tag">#광안리해수욕장</div>
                        <div class="t-title">Buy 부산, bye 부산: 부산의 추억을 담아갈 수 있는 소품샵 3곳Buy 부산, bye 부산: 부산의 추억을 담아갈 수 있는 소품샵 3곳</div>
                        <div class="t-date">2024.07.12</div>
                    </div>
                </div>
            </div> <!-- end travelPictures-->
        </div><!-- end myBox-->

        <!-- 색다른 테마여행-->
        <div class="myBox">
            <div class="outOfOrdinary">
                <div class="titleBox">
                    <h2 class="title">색다른 테마여행</h2>
                    <div class="btn-more me-2 active">이색여행</div>
                    <div class="btn-more">도보여행</div>
                </div>

                <div class="ord-imgBox">
                    <!-- 슬라이더 position 셋팅필요-->
                    <ul class="ord-imgSlide">
                        <!-- 이미지 position 셋팅 해서 가운데 꽉차게 -->
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div> <!-- end outOfOrdinary-->
        </div> <!-- end myBox-->

        <!-- end myContainer-->

    </div>


    <script src="../../assets/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <!-- Code injected by live-server -->
    <script>
    </script>


</body>

</html>