<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:decorate="~{layouts/adminBase}">


    <!--현재 페이지에서만 사용하는 css 정의-->
    <style layout:fragment="mystyle" th:inline="css">
    </style>


    <!--회원 관리 페이지-->
    <div class="contant-box" layout:fragment="content">
        <h1 class="main-tit">회원 관리</h1>
        <div class="all search-info">총 회원 <span>n</span>명 차단 <span>n</span>명 탈퇴 <span>n</span>명</div>
        <!--<form>-->
        <form action="/admin/member/list" method="get" role="search" class="search searchForm">
            <select class="form-select" name="type">
                <option value="tc" th:selected="${pageRequestDTO.type=='tc'}">제목+내용</option>
                <option value="tcw" th:selected="${pageRequestDTO.type=='tcw'}">제목+내용+작성자</option>
                <option value="t" th:selected="${pageRequestDTO.type=='t'}">제목</option>
                <option value="c" th:selected="${pageRequestDTO.type=='c'}">내용</option>
                <option value="w" th:selected="${pageRequestDTO.type=='w'}">작성자</option>
            </select>
            <input class="form-control" type="search" name="keyword" placeholder="Search" aria-label="Search"
                   th:value="${pageRequestDTO.keyword}">
            <button class="btn submitBtn" type="submit">Search</button>
            <!--/*
            <a href="/board/userBoard/create" th:href="|@{/admin/member/create}?${pageRequestDTO.getLink()}|" class="ms-auto">
                <button type="button" class="btn createBtn createBtn2">회원등록</button>
            </a>
            */-->
            <!--<a class="btn createBtn createBtn2 ms-auto" href="/board/userBoard/create" th:href="|@{/admin/member/create}?${pageRequestDTO.getLink()}|">회원등록</a>-->

        </form>
        <!--<div class="search-box">
            <div class="search-inner">
                &lt;!&ndash;<div class="all">총 회원수 <span th:text="${responseDTO.total}">3,852</span>명 차단 n명 탈퇴 n명</div>&ndash;&gt;
                <div class="all">총 회원 n명 차단 n명 탈퇴 n명</div>
                <div class="search-inner">
                    <div class="sort">
                        <a href="#">아이디순</a>
                        <a href="#">이름순</a>
                        <a href="#">가입순</a>
                    </div>
                </div>
                <a class="btn createBtn" href="/board/userBoard/create" th:href="|@{/admin/member/create}|">회원등록</a>
            </div>
        </div>-->
        <!--/*<table class="table" th:with="link=${pageRequestDTO.getLink()}">*/-->
        <div class="content-sub-box">
            <table class="table table-responsive">
            <thead>
                <tr>
                    <th scope="col">회원번호</th>
                    <th scope="col">권한</th>
                    <th scope="col">회원아이디</th>
                    <th scope="col">이름</th>
                    <th scope="col">이메일</th>
                    <th scope="col">주소</th>
                    <th scope="col">가입일</th>
                    <!--<th scope="col">회원수정</th>-->
                    <!--<th scope="col">비로그인 일수</th>-->
                    <!--<th scope="col">차단</th>-->
                </tr>
            </thead>
            <tbody>
            <!--/*<tr th:each="dto:${memberDTOList}" th:data-link="|@{/admin/member/read}?id=${dto.id}&${link}|">*/-->
            <!--/*<tr th:each="dto:${memberDTOList}">*/-->
            <!--/*<tr th:each="dto:${memberDTOList}" th:data-userId="${dto.userId}">*/-->
                <tr class="informationBtn" th:each="dto:${memberDTOList}" th:data-userId="@{|read/${dto.userId}|}">
                    <th scope="row" th:text="${dto.id}">num</th>
                    <!--<th th:text="${dto.id}" scope="row">num</th>-->
                    <!--<td th:text="${dto.roleSet}">role</td>-->
                    <td th:text="${dto.formattedRoleSet}">role</td>
                    <td class="userId" th:text="${dto.userId}"></td>
                    <td th:text="${dto.name}"></td>
                    <td th:text="${dto.email}"></td>
                    <td th:text="${dto.address}"></td>
                    <td th:text="${dto.formattedCreatedAt}"></td>
                </tr>
            </tbody>
        </table>
        </div>
        <!-- 페이지 버튼 -->
        <nav aria-label="Page navigation">
            <ul class="pagination my_pagination justify-content-center mt-4">

                <!-- 불러올 이전 페이지가 있으면 활성화 -->
                <li th:if="${responseDTO.prev}" class="page-item">
                    <a class="page-link" href="#" th:data-num="${responseDTO.start-1}">Previous</a>
                </li>

                <!-- 해당 블럭의 시작 페이지 번호와 마지막 번호   시작번호 1 끝번호 10 -->
                <!-- th:each="i : ${#numbers.sequence(${pageResponseDTO.start}, ${pageResponseDTO.end}, +1)}" 이렇게 하면 에러 ${}안에 ${}또 넣으면 안됨 -->
                <th:block th:each="i : ${#numbers.sequence(responseDTO.start, responseDTO.end, +1)}">
                    <li class="page-item"
                        th:classappend="${responseDTO.page==i?'active':''}"> <!--  -->
                        <a class="page-link" href="#" th:data-num="${i}">[[${i}]]</a>
                    </li>
                </th:block>

                <!-- 불러올 다음 페이지가 있으면 활성화 -->
                <li th:if="${responseDTO.next}" class="page-item">
                    <a class="page-link" href="#" th:data-num="${responseDTO.end+1}">Next</a>
                </li>

            </ul>
        </nav> <!-- end page -->

        <!--회원 수정 팝업-->
        <div class="modal fade informationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content p-5">
                    <h2 class="text-center">회원정보 관리</h2>
                    <hr>
                    <!--/*<form th:if="${memberDTOList.size() > 0}" th:action="@{/admin/member/read/{userId}(userId=${memberDTOList[0].userId})}" method="POST" id="modifyForm">*/-->
                    <form th:if="${memberDTOList.size() > 0}" method="POST" id="modifyForm">
                        <input type="hidden" id="inputUserId" name="userId" th:value="${memberDTOList[0].userId}" />
                        <!--이름-->
                        <label for="inputName" class="col-form-label">이름</label>
                        <input type="text"  id="inputName" class="form-control" />
                        <!--이메일 주소-->
                        <label for="inputEmail" class="col-form-label">이메일</label>
                        <input type="email" id="inputEmail" class="form-control" />
                        <!--주소-->
                        <label for="inputAddress" class="col-form-label">주소</label>
                        <input type="text" id="inputAddress" class="form-control" />

                        <!-- 오류 메시지 표시 -->
                        <div id="modify-error"></div>

                        <!--버튼-->
                        <div class="row align-items-end mt-5 mb-4">
                            <div class="col">
                                <button type="button" class="secessionBtn btn btn-danger w-100">회원 삭제</button>
                            </div>
                            <div class="col">
                                <button type="button" class="modBtn btn btn-primary w-100">회원정보 변경</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--end fragment="content"-->

    <!-- 게시판 리스트 스크립트 연결 -->
    <script th:src="@{/js/memberList.js}" layout:fragment="basescript"></script>
    <!--현재 페이지에서만 사용하는 script 정의-->
    <script layout:fragment="myscript" th:inline="javascript">
    </script>
</html>
