<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
</head>

<body>
    <div class="container modify" layout:fragment="content">
        <div class="body">
            <div class="login-box mt-4 mb-6">
                <h1 class="text-center">회원정보 관리</h1>
    
                <hr>
                <form>
                    <div class="row align-items-end mt-4 mb-4">
                        <div class="col">
                            <button type="submit" class="btn btn-outline-primary w-100">프로필 이미지 변경</button>
                        </div>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="floatingId" placeholder="ID" disabled="">
                        <label for="floatingId">입력한 ID</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">비밀번호</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="id" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">닉네임</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="id" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">이메일 주소</label>
                    </div>
                    <div class="row align-items-end mt-4 mb-4">
                        <div class="col">
                            <button type="submit" class="btn btn-danger w-100">취소하기</button>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary w-100">회원정보 변경</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script layout:fragment="myscript" th:inline="javascript">
    </script>
</body>
</html>