<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
</head>

<body>
<div class="container userCreate" layout:fragment="content">
    <div class="body">

        <div class="topBox">
            <h1>[[${dto.category=='place'?'명소':dto.category=='food'?'음식':'숙박'}]]</h1>
        </div>

        <div class="postBox border rounded-4 mt-4 mx-auto py-3 px-5">

            <form action="/board/userBoard/modify" th:action="|@{/board/}${menu}/modify?${pageRequestDTO.getLink()}|" method="post">
                <div class="topBox mt-4">
                    <!-- 카테고리 -->
                    <div class="categoryBox mt-3">
                        <select class="form-select" name="category">
                            <option>- 카테고리 선택 -</option>
                            <option value="place" th:selected="${dto.category=='place'}">명소</option>
                            <option value="food" th:selected="${dto.category=='food'}">음식</option>
                            <option value="accommodation" th:selected="${dto.category=='accommodation'}">숙박</option>
                        </select>
                    </div>

                    <!-- 장소 링크 (홈페이지에 올려진 장소 링크) (추후 모달창 사용) -->
                    <div class="mt-3">
                        <input type="text" class="form-control location" name="location" placeholder="장소 링크">
                    </div>

                    <!-- 제목 -->
                    <div class="title mt-3">
                        <input type="text" class="form-control" name="title" placeholder="제목 입력 3자 이상 100자 이하"
                               th:value="${dto.title}">
                    </div>

                    <!-- 툴 박스 (기능 추가 가능 할 시 더 추가)-->
                    <!-- 아이콘 사이트 https://fontawesome.com/ 무료 아이콘 사용 -->
                    <div class="toolBox d-flex gap-3 mt-3">
                        <div class="d-flex UIBox">
                            <button><i class="fa-solid fa-check"></i></button>
                            <button><i class="fa-solid fa-outdent"></i></button>
                            <button><i class="fa-regular fa-image"></i></button>
                            <button><i class="fa-solid fa-t"></i>c</button>
                            <button><i class="fa-solid fa-t"></i>bc</button>
                            <button><i class="fa-solid fa-t"></i>s</button>
                            <button><i class="fa-solid fa-fill-drip"></i></button>
                            <button><i class="fa-solid fa-reply"></i></button>
                            <button><i class="fa-solid fa-reply scaleX-R"></i></button>
                        </div>
                    </div>
                </div>
                <hr>

                <!-- 내용 -->
                <div class="contentBox">
                    <textarea class="form-control" name="content" placeholder="내용 입력 1000자 제한">[[${dto.content}]]</textarea>
                </div>

                <!-- 태그 -->
                <div class="tagBox d-flex gap-2 mt-3">
                    <input type="text" class="form-control tags" name="tags" placeholder="태그 입력 예: #부산, #광안리, #버스투어">
                </div>

                <!-- 글번호-->
                <div class="contentBox">
                    <input type="hidden" class="form-control" name="id" value="test" readonly
                           th:value="${dto.id}">
                </div>

                <!-- 유저 이름 -->
                <div class="contentBox">
                    <input type="hidden" class="form-control" name="writer" value="test" readonly
                           th:value="${dto.writer}">
                </div>

                <!-- 유저 아이디 (체크용)-->
                <div class="contentBox">
                    <input type="hidden" class="form-control" name="writerId" value="test" readonly
                           th:value="${dto.writerId}">
                </div>

                <!-- 하단 버튼 -->
                <div class="buttonBox d-flex mt-3">
                    <div class="ms-auto">
                        <a href="/board/userBoard/list" th:href="|@{/board/}${menu}/list?${pageRequestDTO.getLink()}|" class="ms-auto">
                            <button type="button" class="form-control border d-inline cancelBtn">취소</button>
                        </a>
                    </div>
                    <div class="ms-2"><button type="submit" class="form-control border d-inline submitBtn">등록</button></div>
                </div>
            </form>

        </div> <!-- end postBox -->

    </div> <!-- end body -->

    <div>[[${dto}]]</div>

</div> <!-- end fragment="content" -->

<!-- 부트 스트랩 -->
<script layout:fragment="myscript" th:inline="javascript"></script>

</body>
</html>