<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/sub-style.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
</head>

<body>
    <div class="container memberjoin" layout:fragment="content">
        <div class="body">
            <div class="login-box mt-4">
                <h1 class="text-center">회원가입</h1>
    
                <div class="row mb-5 join-box">
                    <div class="col text-center active">
                        본인확인
                    </div>
                    <div class="col text-center">
                        정보입력
                    </div>
                    <div class="col text-center">
                        가입완료
                    </div>
                </div>
    
                <h2>본인인증</h2>
                <hr>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      개인정보 수집 및 이용안내<span class="text-info">(필수)</span>
                    </label>
                </div>
                <div class="form-text mb-4">
                    입력하신 정보는 회원 유무 확인용으로 수집/이용되며, 가입 회원에 한해 입력하신 모든 정보가 저장되는데 동의합니다.
                </div>
                <div class="row align-items-end">
                    <div class="col"><button type="submit" class="btn btn-primary w-100">회원가입</button></div>
                </div>
            </div>
        </div>
    </div>
    <th:block layout:fragment="myscript"></th:block>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>


</html>