<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
</head>

<body>
<div class="container mypage" layout:fragment="content">
    <h1>마이페이지</h1>
    <!--<form class="mypage-top-box" th:action="@{/profile/upload}" method="POST" name="myPageForm" enctype="multipart/form-data">-->
    <form class="mypage-top-box">

        <!--프로필 이미지-->
        <div class="profile_img_box">
            <!--기본 이미지-->
            <div th:if="${profileImage.fileName == 'profile_img.jpg'}" >
                <img th:src="@{/images/profileImage/profile_img.jpg}">
            </div>
            <!--업로드 이미지-->
            <div th:if="${profileImage.fileName != 'profile_img.jpg'}" >
                <img th:src="@{/profile/view/{fileName}(fileName=${profileImage.fileName})}" />
            </div>
        </div>

        <div class="pro-content">
            <h2 class="nick-name" th:text="${member.name}">홍길동</h2>
            <p class="email" th:text="${member.email}">test@gmail.com</p>
            <p class="mypage-comant" th:text="${member.profileText}">여유있는 여행자</p>

            <!--프로필 이미지-->
            <!--<diV class="mypage-upload-btn">
                <label for="uploadImgFile">test</label>
                <input type="file" id="uploadImgFile" name="uploadImgFile">
                <button type="submit" onclick="uploadFile();">변경하기</button>
            </div>-->
            <!--이미지 추가 버튼-->
            <!--<div>
                <input type="button" id="addFilesBtn" class="btn btn-secondary addFilesBtn" value="이미지 등록">
            </div>-->

            <div class="mypage-link">
                <div type="button" class="profileBtn blueBtn">내 정보 수정</div>
                <!--<div type="button" class="blueBtn">알림함</div>-->
                <div type="button" class="addFilesBtn blueBtn">이미지 등록</div>
            </div>
        </div>

    </form>

    <ul class="tab-menu nav nav-tabs mypage-link mt-4" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <h3 class="active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" role="tab" aria-controls="home-tab-pane" aria-selected="false" tabindex="-1">
                나의 리뷰
            </h3>
        </li>
        <!--<li class="nav-item" role="presentation">
            <h3 class="" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" role="tab" aria-controls="profile-tab-pane" aria-selected="true">
                찜한 여행지
            </h3>
        </li>-->
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade active show" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <div class="mypage-bottom-box">
                <div class="rev-inner-list">
                    <div class="row rev-inner-box">
                        <th:block th:each="board : ${responseDTO.dtoList}" th:with="link=${pageRequestDTO.getLink()}">
                            <div th:if="${board.boardFiles?.size() > 0}" class="col-md-4 rev-inner-item" th:data-link="|@{/board/userBoard/read}?id=${member.id}&${link}|">
                                <th:block th:each="file : ${board.boardFiles}">
                                    <div th:if="${file?.uuid}">
                                        <!-- 파일 링크 -->
                                        <div class="rev-img">
                                            <img th:src="@{'/view/' + ${file.uuid} + '==vb==' + ${file.fileName}}" alt="사진">
                                        </div>
                                        <!-- 게시글 제목 -->
                                        <h4 th:text="${board.title}" th:href="@{'/view/' + ${file.uuid} + '==vb==' + ${file.fileName}}">게시글 제목</h4>
                                        <div>
                                            <!-- 조회수 -->
                                            조회수: <span th:text="${board.viewCount}">0</span>
                                            <!-- 댓글 개수 -->
                                            댓글: <span th:text="${board.replyCount}">0</span>
                                            <!-- 좋아요 개수 -->
                                            좋아요: <span th:text="${board.boardLikeCount}">0</span>
                                        </div>
                                        <!-- 등록 날짜 -->
                                        <p class="mypage-date" th:text="${#temporals.format(board.regDate, 'yyyy-MM-dd')}">등록 날짜</p>
                                    </div>
                                </th:block>
                            </div>
                        </th:block>
                    </div>
                </div>

                <div class="d-flex justify-content-end">
                    <div type="button" class="secessionBtn member whiteBtn">회원탈퇴</div>
                </div>
            </div>
        </div>
    </div>

    <!--회원 수정 팝업-->
    <div class="profileModal modal">
        <div class="modal-dialog">
            <div class="modal-content p-5">
                <h2 class="text-center">회원정보 관리</h2>
                <hr>
                <form th:action="@{/mypage/modify}" method="POST" id="modifyForm">
                    <input type="hidden" name="userId" th:value="${member.userId}">
                    <div class="mb-2">
                        <label for="inputName" class="col-form-label">닉네임</label>
                        <input type="text" id="inputName" name="name" th:value="${member.name}">
                    </div>
                    <div class="mb-2">
                        <label for="inputEmail" class="col-form-label">이메일</label>
                        <input type="email" id="inputEmail" name="email" th:value="${member.email}">
                    </div>
                    <div class="mb-2">
                        <label for="inputAddress" class="col-form-label">주소</label>
                        <input type="text" id="inputAddress" name="address" th:value="${member.address}">
                    </div>
                    <div class="mb-2">
                        <label for="inputprofileText" class="col-form-label">소개말</label>
                        <input type="text" id="inputprofileText" name="profileText" th:value="${member.profileText}">
                    </div>
                    <div class="mb-2">
                        <label for="inputPassword" class="col-form-label">비밀번호 확인(필수)</label>
                        <input type="password" id="inputPassword" name="password">
                    </div>

                    <!-- 오류 메시지 표시 -->
                    <div id="modify-error"></div>

                    <div class="row align-items-end mt-5 mb-4">
                        <div class="col">
                            <button type="button" class="closeBtn btn btn-danger w-100">취소하기</button>
                        </div>
                        <div class="col">
                            <button type="submit" class="modBtn btn btn-primary w-100">회원정보 변경</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--회원 탈퇴 팝업-->
    <div class="secessionModal modal">
        <div class="modal-dialog">
            <div class="modal-content p-5">
                <h2 class="text-center">회원탈퇴</h2>
                <hr>
                <form th:action="@{/mypage/delete}" method="POST" id="deleteForm">
                    <input type="hidden" name="userId" th:value="${member.userId}">
                    <input type="hidden" name="address" th:value="${member.address}">
                    <input type="hidden" name="email" th:value="${member.email}">
                    <input type="hidden" name="name" th:value="${member.name}">
                    <div class="mb-4">회원 탈퇴하시겠습니까?<br> 탈퇴 시 삭제된 계정은 복구가 불가능합니다.</div>
                    <div class="mb-2">
                        <label for="password" class="col-form-label">비밀번호 확인</label>
                        <input type="text" id="password" name="password">
                    </div>
                    <!-- 오류 메시지 표시 -->
                    <div id="delete-error"></div>
                    <div class="row align-items-end mt-5 mb-4">
                        <div class="col">
                            <button type="button" class="secCloseBtn btn btn-danger w-100">취소하기</button>
                        </div>
                        <div class="col">
                            <button type="submit" class="secBtn btn btn-primary w-100">확인하기</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--/회원 탈퇴 팝업-->
    <!-- 2. 첨부파일 추가를 위한 모달창 -->
    <div class="uploadModal modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{/profile/upload}" method="POST" id="myPageForm" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">프로필 변경</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!--프로필 이미지-->
                    <diV class="modal-body">
                        <div class="mb-3 row">
                            <div class="col">
                                <input type="file" class="form-control" id="uploadImgFile" name="uploadImgFile" multiple="">
                            </div>
                        </div>
                    </div>
                    <!-- 오류 메시지 표시 -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary addFilesCloseBtn" data-bs-dismiss="modal">닫기</button>
                        <button type="submit" class="btn btn-primary addFilesBtn" onclick="uploadFile();">업로드</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/js/myPageList.js}" layout:fragment="basescript"></script>
    <script layout:fragment="myscript" th:inline="javascript"></script>
</div>
</body>
</html>