<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <footer class="f-inner" th:fragment="f-inner">
        <div class="container">
            <ul class="f-top">
                <li>개인정보처리방침</li>
                <li>저작권보호정책약관</li>
            </ul>
            <div class="f-bottom">
                <div class="f-add">
                    <span class="import">TEL. 관광 문의 1330 / 민원대표 전화 051-120</span>
                    <span>평일 08:30 - 18:30 (야간/공휴일 등 근무시간외는 당직실로 전환)</span>
                    <span>Copyright Busan Metropolitan City.All rights reserved.</span>
                </div>
                <div class="f-icon">
                    <div><img src="../images/mainpage/icon-instar.png" alt="인스타"></div>
                    <div><img src="../images/mainpage/icon-instar.png" alt="인스타"></div>
                    <div><img src="../images/mainpage/icon-instar.png" alt="인스타"></div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>