<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basic}"    >
<body>
<!-- header -->
<header class="header-inner" th:fragment="header-inner">
    <div class="logo-box">
        <a th:href="@{/}" class="logo">
            <img th:src="@{/images/mainpage/header_logo.png}" alt="로고이미지">
        </a>
    </div>
    <div class="menu_open">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <!-- <div class="menu-box active"> -->
    <div class="menu-box active">
        <div class="menu-btn">
            <div class="menu_close">
                <span></span>
                <span></span>
            </div>
        </div>
        <ul class="menu-list">
            <li><a th:href="@{/boards/travelInfo/list}">부산에 가면</a>
                <ul class="sub-menu01">
                    <li><a th:href="@{/boards/travelInfo/list}">명소</a></li>
                    <li><a th:href="@{/boards/travelInfo/list}">음식</a></li>
                    <li><a th:href="@{/boards/travelInfo/list}">숙박</a></li>
                </ul>
            </li>
            <li><a th:href="@{/boards/travelRecommend/list}">추천여행</a>
                <ul class="sub-menu01">
                    <li><a th:href="@{/boards/travelRecommend/list}">일정여행</a></li>
                    <li><a th:href="@{/boards/travelRecommend/list}">테마여행</a></li>
                    <!--<li><a th:href="@{/boards/}">미식투어</a></li>-->
                </ul>
            </li>
            <li>
                <a th:href="@{/boards/travelGuide/travelPreparation}">여행준비</a>
                <ul class="sub-menu01">
                    <li><a th:href="@{/boards/travelGuide/travelPreparation}">여행준비정보</a></li>
                    <li><a th:href="@{/boards/travelGuide/list}">가이드북</a></li>
                </ul>
            </li>
            <li>
                <a th:href="@{/boards/member/list}">여행공유</a>
                <ul class="sub-menu01">
                    <li><a th:href="@{/boards/member/list}">리뷰</a></li>
                </ul>
            </li>
            <li>
                <a th:href="@{/boards/festivalBoard/list}">페스티벌</a>
                <ul class="sub-menu01">
                    <li><a th:href="@{/boards/festivalBoard/list}">공연전시</a></li>
                    <li><a th:href="@{/boards/festivalBoard/list}">축제행사</a></li>
                </ul>
            </li>
        </ul>
        <ul class="link-box">
            <li><a th:href="@{/login}">로그인</a></li>
            <li><a th:href="@{/mypage}">마이페이지</a></li>
            <li><a th:href="@{/admin}">관리자</a></li>
            <li><a th:href="@{/signup/1}">회원가입</a></li>
        </ul>
    </div>
</header>
<!-- /header -->
<script layout:fragment="myscript" th:inline="javascript">
    //메뉴 관련
    const menuBox = document.querySelector(".menu-box");

    function handleOnClick() {
        menuBox.classList.add("active");
    }
    function handleOnClick2() {
        menuBox.classList.remove("active");
    }
    document.querySelector(".menu_open").addEventListener("click", handleOnClick);
    document.querySelector(".menu_close").addEventListener("click", handleOnClick2);
</script>
</body>
</html>