<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<!-- header -->
<div class="header-inner" th:fragment="header-inner">
    <div class="header-wrap">
        <div class="header-box">
            <div class="logo-box">
                <a href="/" class="logo">
                    <img src="/images/mainpage/header_logo.png" alt="로고이미지">
                </a>
            </div>
        </div>
        <ul class="menu">
            <li>
                <a href="#" th:href="@{/admin}">홈</a>
            </li>
            <li>
                <!--<a href="#" th:href="@{/admin/report/list}">신고 관리</a>-->
                <a th:href="@{#}" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="true" aria-label="Toggle navigation">신고 관리</a>
                <ul class="sub-menu collapse" id="navbarTogglerDemo01">
                    <li><a class="nav-link active" href="#">신고된 회원</a></li>
                    <li><a class="nav-link" href="#">신고된 게시물</a></li>
                    <li><a class="nav-link" href="#">신고된 댓글</a></li>
                </ul>
            </li>
            <li>
                <a href="#" th:href="@{/admin/board/list}">게시글 관리</a>
            </li>
            <!--<li class="dropdown">
                <a class="dropdown-toggle" href="#" th:href="@{/admin/member/list}">회원 관리</a>
                <ul class="sub-menu navbar-nav">
                    <li class="dropdown-item"><a href="#" th:href="@{/admin/member/list}">회원 목록</a></li>
                    <li class="dropdown-item"><a href="#" th:href="@{/admin/member/list}">회원 등록</a></li>
                </ul>
            </li>-->

            <li>
                <a th:href="@{/admin/member/list}" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="true" aria-label="Toggle navigation">회원 관리</a>
                <ul class="sub-menu collapse" id="navbarTogglerDemo02">
                    <li class="nav-item"><a class="nav-link active" href="#" th:href="@{/admin/member/list}">회원 목록</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" th:href="@{/admin/member/list}">회원 등록</a></li>
                </ul>
            </li>

            <!-- <li>
                <a href="#">알림판</a>
            </li> -->
        </ul>
    </div>
    <div class="user-box">
        <img th:src="@{/images/profileImage/flower1.jfif}" alt="로고이미지">
        <p class="name">관리자</p>
    </div>
</div>
<!-- /header -->
</html>