<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<!-- header -->
<div class="header-inner" th:fragment="header-inner">
    <div class="header-box">
        <div class="main_head d-flex">
            <div class="list pt-3">
                <a href="#" class="link-light">=</a>
            </div>
            <a th:href="@{/admin}">
                <div class=" text-white pt-4 ps-4">관리자 홈</div>
            </a>
            <a th:href="@{/}">
                <div class=" text-white pt-4 ps-4">메인페이지</div>
            </a>
        </div><!-- end main_head -->

        <!--<div class="main_body">
            &lt;!&ndash; content &ndash;&gt;
            <div layout:fragment="content"></div>
        </div>-->
    </div>
</div>
</html>