<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>userBoard</title>
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/css/sub-style.css" rel="stylesheet">
    <link href="../../assets/css/header.css" rel="stylesheet">
  </head>
  
  <body>
    <div class="container userBoard">
      <!-- header -->
      <header class="header-inner">
          <div class="logo-box">
              <a href="#" class="logo">
                  <img src="/assets/images/mainpage/header_logo.png" alt="로고이미지" class="mo">
              </a>
          </div>
          <div class="menu_open">
              <span></span>
              <span></span>
              <span></span>
          </div>
          <!-- <div class="menu-box active"> -->
          <div class="menu-box">
              <div class="menu-btn">
                  <div class="menu_close">
                      <span></span>
                      <span></span>
                  </div>
              </div>
              <ul class="menu-list">
                  <li><a href="#">부산에 가면</a>
                      <ul class="sub-menu01">
                          <li><a href="#">추천여행</a>
                              <ul class="sub-menu02">
                                  <li><a href="#">명소</a></li>
                                  <li><a href="#">음식</a></li>
                                  <li><a href="#">숙박</a></li>
                              </ul>
                          </li>
                          <li><a href="#">여행코스</a>
                              <ul>
                                  <li><a href="#">일정여행</a></li>
                                  <li><a href="#">테마여행</a></li>
                              </ul>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <a href="#">여행정보</a>
                      <ul class="sub-menu01">
                          <li><a href="#">가이드북</a></li>
                          <li><a href="#">여행준비정보</a></li>
                      </ul>
                  </li>
                  <li>
                      <a href="#">여행공유</a>
                      <ul class="sub-menu01">
                          <li><a href="#">리뷰</a></li>
                      </ul>
                  </li>
                  <li>
                      <a href="#">페스티벌</a>
                      <ul class="sub-menu01">
                          <li><a href="#">축제행사</a></li>
                      </ul>
                  </li>
              </ul>
              <ul class="link-box">
                  <li><a href="#">로그인</a></li>
                  <li><a href="#">마이페이지</a></li>
                  <li><a href="#">회원가입</a></li>
              </ul>
          </div>
      </header>
      <!-- /header -->
      <div class="body">
        <!-- 페이지 이름 -->
        <div class="topBox">
                <h1>여행공유</h1>
                <ul class="controlBox">
                    <li class="aBtn active">#전체</li>
                    <li class="Btn1">#맛집</li>
                    <li class="Btn2">#해수욕장</li>
                    <li class="Btn3">#축제</li>
                    <li class="Btn4">#마켓</li>
                </ul>
                <form role="search" class="search">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-light" type="submit">Search</button>
                </form>
            </div>
            <div class="search-box">
              <div class="search-inner right">
                <button class="btn btn-search" type="submit">글쓰기</button>
              </div>
              <div class="search_array">
                <div class="search-inner">
                  <div class="all">전체 <span>3,852</span>건</div>
                  
                </div>
                <div class="search-inner">
                  <div class="sort">
                    <a href="#">최신순</a>
                    <a href="#">조회순</a>
                    <a href="#">좋아요순</a>
                  </div>
                </div>
              </div>
            </div>
  
        <!-- 카테고리 탭 (여행공유,여행일정,후기) -->
          <div class="tab-content" id="nav-tabContent">
            <div class="postsBox">
                <!-- 게시글 (가로4 * 세로3) -->
                <div class="post">
                    <div class="postImgBox"><img src="../../assets/images/travelInfoBoard/img1.jfif" alt="사진"></div>
                    <div class="postTitle">여행과 힐링을 동시에, 부산 웰니스 관광지 선정(부산웰니스관광, 광안리, 숲, 명상, 스파)</div>
                    <ul class="postText">
                        <li>방문: <span>1588</span></li>
                        <li>댓글: <span>1</span></li>
                        <li>좋아요: <span>8</span></li>
                    </ul>
                <div class="postDate">2024.08.22</div>
                </div>
                <div class="post">
                    <div class="postImgBox"><img src="../../assets/images/travelInfoBoard/img1.jfif" alt="사진"></div>
                    <div class="postTitle">여행과 힐링을 동시에, 부산 웰니스 관광지 선정(부산웰니스관광, 광안리, 숲, 명상, 스파)</div>
                    <ul class="postText">
                        <li>방문: <span>1588</span></li>
                        <li>댓글: <span>1</span></li>
                        <li>좋아요: <span>8</span></li>
                    </ul>
                <div class="postDate">2024.08.22</div>
                </div>
                <div class="post">
                  <div class="postImgBox"><img src="../../assets/images/travelInfoBoard/img1.jfif" alt="사진"></div>
                  <div class="postTitle">여행과 힐링을 동시에, 부산 웰니스 관광지 선정(부산웰니스관광, 광안리, 숲, 명상, 스파)</div>
                    <ul class="postText">
                        <li>방문: <span>1588</span></li>
                        <li>댓글: <span>1</span></li>
                        <li>좋아요: <span>8</span></li>
                    </ul>
                   <div class="postDate">2024.08.22</div>
                </div>
                <div class="post">
                  <div class="postImgBox"><img src="../../assets/images/travelInfoBoard/img1.jfif" alt="사진"></div>
                  <div class="postTitle">여행과 힐링을 동시에, 부산 웰니스 관광지 선정(부산웰니스관광, 광안리, 숲, 명상, 스파)</div>
                    <ul class="postText">
                        <li>방문: <span>1588</span></li>
                        <li>댓글: <span>1</span></li>
                        <li>좋아요: <span>8</span></li>
                    </ul>
                   <div class="postDate">2024.08.22</div>
                </div>
                <div class="post">
                    <div class="postImgBox"><img src="../../assets/images/travelInfoBoard/img1.jfif" alt="사진"></div>
                    <div class="postTitle">여행과 힐링을 동시에, 부산 웰니스 관광지 선정(부산웰니스관광, 광안리, 숲, 명상, 스파)</div>
                                        <ul class="postText">
                        <li>방문: <span>1588</span></li>
                        <li>댓글: <span>1</span></li>
                        <li>좋아요: <span>8</span></li>
                    </ul>
<div class="postDate">2024.08.22</div>
                </div>
                <div class="post">
                  <div class="postImgBox"><img src="../../assets/images/travelInfoBoard/img1.jfif" alt="사진"></div>
                  <div class="postTitle">여행과 힐링을 동시에, 부산 웰니스 관광지 선정(부산웰니스관광, 광안리, 숲, 명상, 스파)</div>
                    <ul class="postText">
                        <li>방문: <span>1588</span></li>
                        <li>댓글: <span>1</span></li>
                        <li>좋아요: <span>8</span></li>
                    </ul>
                   <div class="postDate">2024.08.22</div>
                </div>
                <div class="post">
                  <div class="postImgBox"><img src="../../assets/images/travelInfoBoard/img1.jfif" alt="사진"></div>
                  <div class="postTitle">여행과 힐링을 동시에, 부산 웰니스 관광지 선정(부산웰니스관광, 광안리, 숲, 명상, 스파)</div>
                    <ul class="postText">
                        <li>방문: <span>1588</span></li>
                        <li>댓글: <span>1</span></li>
                        <li>좋아요: <span>8</span></li>
                    </ul>
                   <div class="postDate">2024.08.22</div>
                </div>
                <div class="post">
                  <div class="postImgBox"><img src="../../assets/images/travelInfoBoard/img1.jfif" alt="사진"></div>
                  <div class="postTitle">여행과 힐링을 동시에, 부산 웰니스 관광지 선정(부산웰니스관광, 광안리, 숲, 명상, 스파)</div>
                    <ul class="postText">
                        <li>방문: <span>1588</span></li>
                        <li>댓글: <span>1</span></li>
                        <li>좋아요: <span>8</span></li>
                    </ul>
                   <div class="postDate">2024.08.22</div>
                </div>
            </div>
          </div>
          <!-- class="tab-content" -->
        <!-- 페이지 버튼 -->
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center mt-4">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div> <!-- end class="container" -->



    <script src="../../assets/js/bootstrap.min.js"></script>
    <script>
      
    </script>

  </body>
</html>