.f-inner {
    background-color: #1C1F26;
}
.f-inner .f-top {
    display: flex;
    padding: 15px;
    /* border-bottom: 1px solid #707070; */
    gap: 40px;
    font-size: 18px;
    justify-content: flex-end;
}
.f-inner .f-top li {
    color: #fff;
}
.f-inner .f-top li:first-child {
    color: #38AED6;
}
.f-bottom {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.f-bottom .f-add {
    padding: 20px 0 60px;
}
.f-bottom .f-add span {
    color: #999;
    display: inline-block;
    font-size: 18px;
}
.f-bottom .f-add span.import {
    color: #fff;
    margin-bottom: 15px;
}