
/* 아이콘 링크 */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

/* 기본설정 */
@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 400;
    src: url('/portfolio-main/fonts/NotoSansKR-Regular.ttf') format('truetype');
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #333;
    font-family: 'NotoSansKR', sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
}
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    color: #333;
    text-decoration: none;
}

h1 {
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 30px;
}
h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600;
    line-height: 1.5;
}
h4 {
    font-size: 14px;
}


.body {
    margin: 60px 0;
}


@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
    header.container {
        max-width: 1600px;
    }
}


/* mypage */
.mypage .mypage-top-box img {
    width: 160px;
    height: 160px;
    border-radius: 160px;
    background-color: #aaa;
}
.mypage .mypage-link {
    display: flex;
    gap: 5px;
}
.mypage .mypage-link div {
    background-color: #F2F2F2;
    padding: 4px 14px;
    font-size: 14px;
    border-radius: 14px;
}
.mypage .mypage-top-box {
    display: flex;
    gap: 30px;
}
.tab-menu {
    display: flex;
    border-bottom: 1px solid #DDD;
}
.tab-menu h3 {
    padding: 15px 20px;
    margin: 0;
    font-weight: 500;
}
.tab-menu h3.active {
    border-bottom: 1px solid #555;
    font-weight: 600;
}
.mypage .rev-inner-list {
    display: flex;
    gap: 25px;
}
.mypage .rev-img {
    margin: 30px 0 15px;
}
.mypage .rev-img img {
    min-height: 160px;
    width: 100%;
    background-color: #333;
    display: block;
}
.mypage .mypage-tag {
    color: #AAA;
    font-size: 13px;
    border: 1px #AAA solid;
    padding: 4px 10px;
    border-radius: 16px;
    display: inline-block;
    margin-bottom: 10px;
}
.mypage .mypage-text {
    font-size: 14px;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 5px;
    line-height: 18px;
}
.mypage .mypage-date {
    font-size: 13px;
    color: #aaa;
    margin-bottom: 10px;
}
.mypage .mypage-star {
    font-size: 14px;
    color: #333;
    background: url(/assets/images/mypage/star-icon.png) no-repeat left 3px;
    padding-left: 20px;
    float: right;
}
.mypage .pro-content .mail {
    margin-bottom: 5px;
    font-size: 18px;
}
.login-box {
    max-width: 600px;
    margin: 0 auto;
}

/* memberjoin */
.memberjoin .login {
    max-width: 600px;
    margin: 0 auto;
}
.memberjoin .join-box {
    margin-top: 125px;
    position: relative;
}
.memberjoin .join-box::after {
    content: "";
    display: block;
    position: absolute;
    width: 425px;
    height: 1px;
    bottom: 63px;
    left: 17%;
    background: #ddd;
    z-index: -1;
}
.memberjoin .join-box > div {
    position: relative;
}
.memberjoin .join-box > div.active {
    color: #333;
}
.memberjoin .join-box > div {
    color: #aaa;
}
.memberjoin .join-box > div:nth-child(1).active:after {
    background: #38aed6;
    color: #fff;
    border: 1px solid #38aed6;
}
.memberjoin .join-box > div:nth-child(1):after {
    content: "1";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    bottom: 40px;
    left: 40%;
    background: #ffffff;
    border: 1px solid #aaa;
    transition: all .3s ease;
    color: #aaa;
    line-height: 46px;
}
.memberjoin .join-box > div:nth-child(2).active:after {
    background: #38aed6;
    color: #fff;
    border: 1px solid #38aed6;
}
.memberjoin .join-box > div:nth-child(2):after {
    content: "2";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    bottom: 40px;
    left: 40%;
    background: #ffffff;
    border: 1px solid #aaa;
    transition: all .3s ease;
    color: #aaa;
    line-height: 46px;
}
.memberjoin .join-box > div:nth-child(3).active:after {
    background: #38aed6;
    color: #fff;
    border: 1px solid #38aed6;
}
.memberjoin .join-box > div:nth-child(3):after {
    content: "3";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    bottom: 40px;
    left: 40%;
    background: #ffffff;
    border: 1px solid #aaa;
    transition: all .3s ease;
    color: #aaa;
    line-height: 46px;
}
/* .memberjoin .mali-img img {
    width: 70px;
    height: 70px;
    background-color: #000;
    display: block;
    border-radius: 70px;
} */

.mypageMail .mali-img {
    width: 75px;
    height: 75px;
    overflow: hidden;
    border-radius: 75px;
    display: flex;
}
.mypageMail .mali-img img {
    background-color: #aaa;
    width: 100%;
}


/* FestivalBoard */
.FestivalBoard .dates > li > a , .days > li > a {
    border: none;
}
.FestivalBoard .mybtn {
    padding: 5px;
    background-color: white;
    border: none;
}

/* 박스안 이미지 가득차게 수평 수직 가운데 정렬 1 */
.FestivalBoard .postImgBox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/*  박스안 이미지 가득차게 수평 수직 가운데 정렬 2
.FestivalBoard .postImgBox {
    position: relative;
    overflow: hidden;
    height: 300px;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
*/

/* FestivalPost */
/* v-line 정보 창 세로 줄 */
.FestivalPost .v-line {
    border-left : 1px solid lightgray;
    height : 130px;
    margin: 0px 30px;
}

/* 홈페이지 버튼 설정 */
.FestivalPost .btnHomepage {
    background-color: rgb(45, 45, 45);
    color: white;
    border: none;
    padding: 10px 30px;
}

/* 다운로드, 목록 버튼 설정 */
.FestivalPost .btnDownload, .btnList {
    background-color: white;
    color: rgb(45, 45, 45);
    padding: 10px 30px;
}

/* place */
.place .top{
    text-align: center;
}
.place .cate{
    justify-content: center;
}
.place .search{
    display: flex;
    justify-content: center;
}
.place .up{
    display: flex;
    justify-content:space-between
}
.place .soon{
    display: flex;

    gap: 10px;
}
.place .pic{
    gap: 20px;
}

/* place1 */
.place1 .top{
    text-align: center;
}
.place1 .middle{
    margin-top: 150px;

    align-items: center;
}
.place1 .information{
    margin-top: 100px;
}

/* userBoard */
/* 박스안 이미지 가득차게 수평 수직 가운데 정렬 */
.userBoard .imgBox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* 태그 창을 가운데 배치하기 위한 설정 */
.userBoard .nav-tabs {
    position: relative;
}
.userBoard .orderBy {
    position: absolute;
}
/*-----------------------------------*/

.userBoard .tags {
    height: 50px;
    line-height: 50px;
}

/* userCreate */
.userCreate .UIBox {
    gap: 10px;
}
.userCreate .categoryBox select, .UIBox button, .buttonBox button {
    color: gray;
}
.userCreate .contentBox textarea {
    height: 500px; width: 100%;
}

/* 아이콘 좌우반전 */
.userCreate .scaleX-R{
    transform: scaleX(-1);
}
.userCreate .UIBox button {
    border: none;
    background-color: white;
}

/* userPost */
/* 이미지 크기 제한 */
.userPost .imgBox {
    width: 60px;
}

/* 이미지를 동그랗게 만듬 */
.userPost .imgdiv {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    margin-top: 0%;
}
.userPost .imgdiv img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}



