<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminBase}">

<!-- 현재 페이지에서만 사용하는 css 정의 -->
<style layout:fragment="mystyle" th:inline="css">
    .card-body {
        width: 250px;
        height: 300px;
        overflow: hidden;
        justify-content: center;
    }
</style>

<!-- main_body  -->
<div class="userCreate myBox" layout:fragment="content">

    <div class="body">

        <div class="topBox">
            <h1 class="categoryName" th:switch="${pageRequestDTO.bCategory}">
                <th:block th:case="'place'">명소</th:block>
                <th:block th:case="'food'">음식</th:block>
                <th:block th:case="'accommodation'">숙박</th:block>
                <th:block th:case="'scheduledTravel'">일정여행</th:block>
                <th:block th:case="'themeTravel'">테마여행</th:block>
                <th:block th:case="'preparation'">여행준비정보</th:block>
                <th:block th:case="'guide'">가이드북</th:block>
                <th:block th:case="'information'">여행정보</th:block>
                <th:block th:case="'schedule'">여행일정</th:block>
                <th:block th:case="'review'">후기</th:block>
                <th:block th:case="'performance'">공연·전시</th:block>
                <th:block th:case="'festival'">축제·행사</th:block>
                <th:block th:case="'sportsGame'">스포츠 경기</th:block>
                <th:block th:case="*">전체</th:block>
            </h1>
        </div>

        <div class="postBox border rounded-4 mt-4 mx-auto py-3 px-5">
            <form class="createForm" action="/admin/board/create" th:action="|@{/admin/board/create}?${pageRequestDTO.getLink()}|" method="post">
                <div class="topBox mt-4">
                    <!-- 카테고리 -->
                    <div class="categoryBox mt-3">
                        <select class="form-select" name="category">
                            <option value="">- 카테고리 선택 -</option>
                            <option value="place" th:selected="${pageRequestDTO.bCategory=='place'}">명소</option>
                            <option value="food" th:selected="${pageRequestDTO.bCategory=='food'}">음식</option>
                            <option value="accommodation" th:selected="${pageRequestDTO.bCategory=='accommodation'}">숙박</option>
                            <option value="scheduledTravel" th:selected="${pageRequestDTO.bCategory=='scheduledTravel'}">일정여행</option>
                            <option value="themeTravel" th:selected="${pageRequestDTO.bCategory=='themeTravel'}">테마여행</option>
                            <option value="preparation" th:selected="${pageRequestDTO.bCategory=='preparation'}">여행준비정보</option>
                            <option value="guide" th:selected="${pageRequestDTO.bCategory=='guide'}">가이드북</option>
                            <option value="information" th:selected="${pageRequestDTO.bCategory=='information'}">여행정보</option>
                            <option value="schedule" th:selected="${pageRequestDTO.bCategory=='schedule'}">여행일정</option>
                            <option value="review" th:selected="${pageRequestDTO.bCategory=='review'}">후기</option>
                            <option value="performance" th:selected="${pageRequestDTO.bCategory=='performance'}">공연·전시</option>
                            <option value="festival" th:selected="${pageRequestDTO.bCategory=='festival'}">축제·행사</option>
                            <option value="sportsGame" th:selected="${pageRequestDTO.bCategory=='sportsGame'}">스포츠 경기</option>
                        </select>
                    </div>

                    <!-- 장소 링크 (홈페이지에 올려진 장소 링크) (추후 모달창 사용) -->
                    <div class="mt-3">
                        <input type="text" class="form-control location" name="location" placeholder="장소 링크">
                    </div>

                    <!-- 제목 -->
                    <div class="title mt-3">
                        <input type="text" class="form-control" name="title" placeholder="제목 입력 3자 이상 100자 이하">
                    </div>

                    <!-- 툴 박스 (기능 추가 가능 할 시 더 추가)-->
                    <!-- 아이콘 사이트 https://fontawesome.com/ 무료 아이콘 사용 -->
                    <div class="toolBox d-flex gap-3 mt-3">
                        <div class="d-flex UIBox">
                            <button><i class="fa-solid fa-check"></i></button>
                            <button><i class="fa-solid fa-outdent"></i></button>
                            <button><i class="fa-regular fa-image"></i></button>
                            <button><i class="fa-solid fa-t"></i>c</button>
                            <button><i class="fa-solid fa-t"></i>bc</button>
                            <button><i class="fa-solid fa-t"></i>s</button>
                            <button><i class="fa-solid fa-fill-drip"></i></button>
                            <button><i class="fa-solid fa-reply"></i></button>
                            <button><i class="fa-solid fa-reply scaleX-R"></i></button>
                        </div>
                    </div>
                </div>
                <hr>

                <!-- 내용 -->
                <div class="contentBox">
                    <textarea class="form-control" name="content" placeholder="내용 입력 1000자 제한"></textarea>
                </div>

                <!-- 태그 -->
                <div class="tagBox d-flex gap-2 mt-3">
                    <input type="text" class="form-control tags" name="tags" placeholder="태그 입력 예: #부산, #광안리, #버스투어">
                </div>

                <!-- 유저 이름 -->
                <div class="contentBox">
                    <input type="hidden" class="form-control" name="writer" value="test" readonly>
                </div>

                <!-- 유저 아이디 (체크용)-->
                <div class="contentBox">
                    <input type="hidden" class="form-control" name="writerId" value="test" readonly>
                </div>

                <!-- 첨부파일 등록 모달 버튼 -->
                <div class=" mt-3 mb-3 row">
                    <div class="col d-flex">
                        <div><input type="button" id="addFilesBtn" class="btn btn-secondary opacity-50 addFilesBtn" value="이미지 등록"></div>
                        <div class="col container-fluid d-flex gap-3 uploadResult" style="flex-wrap:wrap"></div>
                        <div class="uploadHidden"></div>
                    </div>
                </div>

                <!-- 하단 버튼 -->
                <div class="buttonBox d-flex mt-3">
                    <div class="ms-auto">
<!--/*                        <a href="/board/information" th:href="|@{/board/}${menu}/list?${pageRequestDTO.getLink()}|" class="ms-auto">*/-->
                            <button type="button" class="form-control border d-inline cancelBtn">취소</button>
<!--/*                        </a>*/-->
                    </div>
                    <div class="ms-2"><button type="submit" class="form-control border d-inline submitBtn">등록</button></div>
                </div>
            </form>

        </div> <!-- end .postBox -->

    </div> <!-- end .body -->

    <!-- 첨부파일 추가를 위한 모달창 -->
    <div class="modal modalUpload fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Upload Files</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 row">
                        <div class="col">
                            <div id="input_files_result_box"><div id="input_files_result"></div></div>
                            <input type="file" class="form-control" id="input_files" name="files" multiple>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary closeModalUpload" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary uploadBtn">업로드</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Axios 라이브러리 연결 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- file upload 처리하는 javascript 연결 -->
    <script src="/js/upload.js"></script>

</div> <!-- end fragment="content" -->

<!--/* 현재 페이지에서만 사용하는 script 정의 */-->
<script layout:fragment="myscript" th:inline="javascript">


    // ----------- //
    //  에러 메시지
    // ----------- //

    const errors = [[${errors}]];
    if(errors != null) {
        console.log('errors',errors);
        console.log('errors.length: ',errors.length);
    }

    let errorMsg="";

    if(errors) {  // 서버로부터 응답받은 에러 메시지가 있으면
        for(let i=0; i<errors.length; i++) {
            errorMsg += `${errors[i].field}은(는) ${errors[i].code}\n`;
        }
            alert(errorMsg);
    }


    // ----------//
    //   취소 버튼
    // ----------//

    document.querySelector('.cancelBtn').addEventListener('click', function(e) {
        e.preventDefault();  // 기본 이벤트 제거
        e.stopPropagation();  // 버블링(현재 이벤트가 발생한 요소의 상위 요소들에 대해서 이벤트 감지되는 현상) 방지

        // 삭제할 첨부파일 목록: [{xx.xx},...]
        uploadedFileList.forEach( ({uuid, fileName}) => {
            // 업로드파일 삭제 요청: axios
            removeFileToServer({uuid, fileName})
                .then(response => {
                    // 삭제후 서버로부터 응답
                    console.log(response)

                }).catch( e => {
                    alert("오류입니다~");
                    console.log("오류입니다~ ",e);
                });

        })

        location.href ="/admin/board/list?"+[[${pageRequestDTO.getLink()}]];

    })


    // --------- //
    // 업로드 모달
    // --------- //

    const modalUpload = new bootstrap.Modal(document.querySelector('.modalUpload'));
    const addFilesBtn = document.querySelector('.addFilesBtn');
    const uploadBtn = document.querySelector('.uploadBtn');
    const closeModalUpload = document.querySelector('.closeModalUpload');

    // 1. 업로드 모달창 띄우기
    addFilesBtn.addEventListener('click', function(e) {
        e.stopPropagation();
        e.preventDefault();

        modalUpload.show();  // 모달창 보이기

    })

    // 2. 업로드 모달에서 닫기 버튼 클릭
    closeModalUpload.addEventListener('click', function(e) {
        e.stopPropagation();
        e.preventDefault();

        modalUpload.hide();  // 모달창 숨기기
    })

    console.dir("input_files: "+input_files);
    console.dir("input_files_result: "+input_files_result);
    console.log("input_files: "+input_files.value);
    console.log("input_files_result: "+input_files_result.value);

    input_files.oninput = function() {
        const fReader = new FileReader();
        fReader.readAsDataURL(input_files.files[0]);
        

        fReader.onloadend = function(event){
            //const input_files_result = document.querySelector('.input_files_result');
            const imageElement = document.createElement('img');
            const path = event.target.result;

            console.log("PATH: ", path);

            imageElement.src = path;
            imageElement.style.width = '100%';
            imageElement.style.height = '100%';
            imageElement.id = 'input_files_result';

            input_files_result.replaceWith(imageElement);
        }
    };


    // 3. 업로드 모달에서 uploadBtn 버튼 클릭 : 선택한 파일을 서버에 업로드처리

    let uploadedFileList = [];
    uploadBtn.addEventListener('click', function(e) {
        e.stopPropagation();
        e.preventDefault();

        // 자바스크립트 FormData 객체를 이용해서 전송할 파일을 저장(보관)
        const formObj = new FormData();
        const fileInput = document.querySelector("input[name='files']");
        // console.log("fileInput.files: "+fileInput.files)  // 선택된 파일들은 배열 구조

        const files = fileInput.files;
        for (let i=0; i<files.length; i++) {
            // 'files'키 이름은 서버에 받을 UploadFileDTO 객체의 files와 동일한 속성명이면 1:1 자동 맵핑
            formObj.append("files", files[i]);  // javascript FormData객체를 이용해서 정보를 추가
        }

        console.log('formObj: ', formObj);

        // 업로드 처리하는 함수 호출: axios요청  **
        uploadToServer(formObj)
            .then( result => {
                console.log("result: ",result);
                console.log("업로드 정상처리 응답결과: ",result.data);
                uploadedFileList = result;

                // 업로드된 결과를 JSON파일로 view 함수 호출
                for (let data of result) {
                    showUploadFile(data);
                }

                modalUpload.hide() // 모달창 숨기기

            }).catch( e => {
                alert("업로드 실패했습니다~");
                console.log("업로드 실패했습니다~ ",e);
                modalUpload.hide();
            });

    }) // end function


    // 업로드된 결과값을 view해서 보여줄 태그 요소 추출
    const uploadResult = document.querySelector('.uploadResult');

    // 업로드된 결과 view 함수 정의
    function showUploadFile({uuid, fileName, img, link}) {  // link는 UploadResultDTO의 getLink()를 실행하여 결과값을 받아옴
        // 서버에서 보내준 data => UploadResultDTO(UploadResultDTO.uuid, xxx.fileName, xxx.img, xxx.getLink())구조 객체 => JSON변환(객체.속성, ... 객체.메서드)
        // 서버로부터 넘겨받은 객체.속성 : uuid, fileName, img
        // 서버로부터 넘겨받은 객체.메서드 : 객체.Link() => Link 메서드 이름으로 데이터 보관된 상태이므로 함수명으로 데이터 읽기가능
        console.log("fileName: ",fileName);
        console.log("uuid: ",uuid);
        console.log("link: ",link);
        console.log("img: ",img);

        const str =
        `
        <div class="card" style="width: 18rem;">
            <div class="card-header d-flex justify-content-center">
                <p>${fileName}</p>
                <button type="button" class="btn btn-outline-danger opacity-50" style="margin-left:auto"
                        onClick="javascript:removeFile('${uuid}', '${fileName}', this)" > x </button>
            </div>
            <div class="card-body">
                <img src="/view/${link}" data-src="${uuid+"==vb=="+fileName}" class="w-100"/>
            </div>
        </div>
        `;

        console.log("str: ",str);
        // 문자열 => DOM으로 변환 => '.uploadResult'요소 하위요소 입력
        uploadResult.innerHTML += str;

    } // end function


    // ----------- //
    // 첨부파일 삭제
    // ----------- //

    function removeFile(uuid, fileName, obj) {
        console.log("uuid: ",uuid);
        console.log("fileName: ",fileName);
        console.log("obj: ",obj);  // 현재 버튼 요소를 지칭

        // 요소.closest('선택요소') : 요소기준으로 상위 요소중 가장 가까운 요소 선택
        // 현재 요소에서 상위(부모)요소 찾을 경우 적용
        const targetDiv = obj.closest('.card');

        // 파일 삭제 요청 : axios()
        removeFileToServer({uuid, fileName})
        .then(remove => {
            // 서버로부터 받은 객체정보: 정상적으로 삭제되었으면 HashMap 형식으로 객체 전달
            // HashMap('result': true)
            console.log("remove: ",remove);  // HashMap객체 => remove JSON객체로 받음
            console.log("remove.result: ",remove.result);

            // 자바스크립트 요소제서: remove() removeChild()
            // '.card' 요소제거: 썸네일 이미지 화면에서 삭제
            if(remove.result) targetDiv.remove();  // 삭제 성공하면 썸네일 이미지 화면에서 삭제

        }).catch( e => {
            alert("오류입니다~");
            console.log("오류입니다~ ",e);
        });

    } // end function

    console.log("test test 테스트입니다~");

    // ----------- //
    // 첨부파일 등록
    // ----------- //

    function addFiles () {

        // 파일이 없으면 등록안하고 종료 (이미지가 안찍히면 오류나기 때문)
        console.log("uploadedFileList",uploadedFileList);
        if (uploadedFileList.length == 0) return;

        const target = document.querySelector('.uploadHidden');
        const uploadFiles = uploadResult.querySelectorAll('img');  // 불러온 업로드된 이미지들은 배열구조

        let str = "";
        for (let i=0; i<uploadFiles.length; i++) {
            const uploadFile = uploadFiles[i];  // 배열에서 뽑은 img태그
            // const imgLink = uploadFile.getAttribute('src');  // 이미지 링크  제약조건 때문에 안됨
            const imgData = uploadFile.getAttribute('data-src');

            // 이미지 파일 이름을 hidden input 요소에 저장
            str += `<input type='hidden' name='fileNames' value="${imgData}">`;  // 전송할때 /(링크로 간주)가 들어가면 제약조건에 걸림(보안때문)

        } // end for

        target.innerHTML = str;

    }

    // ------------------------------------------------ //
    // 게시물 등록 : 게시글 정보, 첨부파일이름 DB에 저장 요청
    // ------------------------------------------------ //

    document.querySelector('.submitBtn').addEventListener('click', function(e) {
        e.preventDefault();  // 기본 이벤트 제거
        e.stopPropagation();  // 버블링(현재 이벤트가 발생한 요소의 상위 요소들에 대해서 이벤트 감지되는 현상) 방지

        const formObj = document.querySelector('.createForm');
        const title = document.querySelector('.createForm input[name="title"]');
        const content = document.querySelector('.createForm textarea[name="content"]');
        console.log(content);
        console.log(title);

        if ((title.value.length < 1 || title.value == "")&&(content.value.length < 1 || content.value == "")) {
            alert("제목과 내용이 비어있습니다!! 😡😡");
            return;

        } else if (title.value.length < 1 || title.value == "") {
            alert("제목이 비어있습니다! 😡");
            return;

        } else if (content.value.length < 1 || content.value == "") {
            alert("내용이 비어있습니다! 😡");
            return;

        }

        if (title.value.length < 3 || title.value.length > 100) {
            alert("3자 이상 100자 이내에 제목을 써주세요~ :b");
            title.focus();
            return;

        }

        if (content.value.length < 3 || content.value.length > 1000) {
            alert("3자 이상 1000자 이내에 글을 써주세요~ :b");
            content.focus();
            return;

        }

        // 첨부파일 등록
        addFiles();


        // 값에 이상이 없으면 서버에 전송
        console.log(formObj);

        // html 태그의 id 이름을 submit, reset 이런 기능있는 애들로 주면 해당 기능이 동작 안함
        // id="submit"으로 버튼에 ID를 설정하면, 기본적으로 document 객체에서 submit() 메서드를 덮어쓰게 됩니다. 이 때문에 submit() 메서드를 호출해도 해당 메서드가 아니라 버튼 요소를 참조하게 되어 폼이 제출되지 않습니다.

        formObj.submit();


    })

</script>

</html>