<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminBase}">


<!-- 현재 페이지에서만 사용하는 css 정의 -->
<style layout:fragment="mystyle" th:inline="css">
</style>


<!-- 게시글 관리 페이지 -->
<div class="contant-box" layout:fragment="content">
    <h1 class="main-tit">게시판 관리</h1>
    <div class="all search-info">전체 <span th:text="${responseDTO.total}">3,852</span>건</div>
    <!-- 페이지 이름 -->
    <form action="/admin/board" th:action="@{/admin/board/list}" method="get" role="search" class="search searchForm">
            <!--/*<div>[[${responseDTO}]]</div>*/-->
            <select class="form-select" name="bCategory">
                    <option value="">전체</option>
                    <option value="place" th:selected="${pageRequestDTO.bCategory=='place'}">명소</option>
                    <option value="food" th:selected="${pageRequestDTO.bCategory=='food'}">음식</option>
                    <option value="accommodation" th:selected="${pageRequestDTO.bCategory=='accommodation'}">숙박</option>
                    <option value="scheduledTravel" th:selected="${pageRequestDTO.bCategory=='scheduledTravel'}">일정여행</option>
                    <option value="themeTravel" th:selected="${pageRequestDTO.bCategory=='themeTravel'}">테마여행</option>
                    <option value="preparation" th:selected="${pageRequestDTO.bCategory=='preparation'}">여행준비정보</option>
                    <option value="guide" th:selected="${pageRequestDTO.bCategory=='guide'}">가이드북</option>
                    <option value="information" th:selected="${pageRequestDTO.bCategory=='information'}">여행정보</option>
                    <option value="schedule" th:selected="${pageRequestDTO.bCategory=='schedule'}">여행일정</option>
                    <option value="review" th:selected="${pageRequestDTO.bCategory=='review'}">후기</option>
                    <option value="performance" th:selected="${pageRequestDTO.bCategory=='performance'}">공연·전시</option>
                    <option value="festival" th:selected="${pageRequestDTO.bCategory=='festival'}">축제·행사</option>
                    <option value="sportsGame" th:selected="${pageRequestDTO.bCategory=='sportsGame'}">스포츠 경기</option>
                </select>
            <!--<ul class="controlBox">
                <li class="aBtn">#전체</li>
                <li class="Btn1">#맛집</li>
                <li class="Btn2">#해수욕장</li>
                <li class="Btn3">#축제</li>
                <li class="Btn4">#마켓</li>
            </ul>-->
            <select class="form-select" name="type">
                <option value="tcw" th:selected="${pageRequestDTO.type=='tcw'}">전체</option>
                <option value="tc" th:selected="${pageRequestDTO.type=='tc'}">제목+내용</option>
                <option value="t" th:selected="${pageRequestDTO.type=='t'}">제목</option>
                <option value="c" th:selected="${pageRequestDTO.type=='c'}">내용</option>
                <option value="w" th:selected="${pageRequestDTO.type=='w'}">작성자</option>
            </select>
            <input class="form-control" type="search" name="keyword" placeholder="Search" aria-label="Search"
                   th:value="${pageRequestDTO.keyword}">
            <button class="btn submitBtn" type="submit">Search</button>
        </form>
    <!--<div class="search-box">
        <div class="search_array">
            <div class="search-inner">
                <div class="all">전체 <span th:text="${responseDTO.total}">3,852</span>건</div>
                <a class="createBtn" href="/board/userBoard/create" th:href="|@{/admin/board/create}?${pageRequestDTO.getLink()}|">글쓰기</a>
            </div>
            <div class="search-inner">
                <div class="sort">
                    <a href="#">최신순</a>
                    <a href="#">조회순</a>
                    <a href="#">좋아요순</a>
                </div>
            </div>
        </div>
    </div>-->
    <div class="content-sub-box">
        <table class="table table-responsive" th:with="link=${pageRequestDTO.getLink()}">
        <thead>
            <tr class="text-center">
                <th scope="col">글번호</th>
                <th scope="col">게시판</th>
                <th scope="col">제목</th>
                <th scope="col">이름</th>
                <th scope="col">일시</th>
            </tr>
        </thead>
        <tbody>
            <tr class="post" th:each="dto:${responseDTO.dtoList}" th:data-link="|@{/admin/board/read}?id=${dto.id}&${link}|">
                <th scope="row" th:text="${dto.id}"></th>
                <td th:text="${dto.category}"></td>
                <td th:text="${dto.title}"></td>
                <td th:text="${dto.writer}"></td>
                <td th:text="${#temporals.format(dto.regDate, 'yyyy-MM-dd hh:mm')}"></td>
            </tr>
        </tbody>
    </table>
    </div>
    <!-- 페이지 버튼 -->
    <nav aria-label="Page navigation">
        <ul class="pagination my_pagination justify-content-center">

            <!-- 불러올 이전 페이지가 있으면 활성화 -->
            <li th:if="${responseDTO.prev}" class="page-item">
                <a class="page-link" href="#" th:data-num="${responseDTO.start-1}">Previous</a>
            </li>

            <!-- 해당 블럭의 시작 페이지 번호와 마지막 번호   시작번호 1 끝번호 10 -->
            <!-- th:each="i : ${#numbers.sequence(${pageResponseDTO.start}, ${pageResponseDTO.end}, +1)}" 이렇게 하면 에러 ${}안에 ${}또 넣으면 안됨 -->
            <th:block th:each="i : ${#numbers.sequence(responseDTO.start, responseDTO.end, +1)}">
                <li class="page-item"
                    th:classappend="${responseDTO.page==i?'active':''}"> <!--  -->
                    <a class="page-link" href="#" th:data-num="${i}">[[${i}]]</a>
                </li>
            </th:block>

            <!-- 불러올 다음 페이지가 있으면 활성화 -->
            <li th:if="${responseDTO.next}" class="page-item">
                <a class="page-link" href="#" th:data-num="${responseDTO.end+1}">Next</a>
            </li>

        </ul>
    </nav> <!-- end page -->

</div> <!-- end fragment="content" -->

<!-- 게시판 리스트 스크립트 연결 -->
<script th:src="@{/js/boardList.js}" layout:fragment="basescript"></script>

<!--/* 현재 페이지에서만 사용하는 script 정의 */-->
<script layout:fragment="myscript" th:inline="javascript">
</script>

</html>