<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminBase}">


<!-- 현재 페이지에서만 사용하는 css 정의 -->
<style layout:fragment="mystyle" th:inline="css">
</style>


<!-- 게시글 관리 페이지 -->
<div class="cate cate_2 h-100vh" layout:fragment="content">

    <!-- 페이지 이름 -->
    <div class="topBox">

        <form action="/admin/board" th:action="@{/admin/board/list}" method="get" role="search" class="search searchForm">
            <!--/*            <div>[[${responseDTO}]]</div>*/-->
            <div class="select-box">
                <select class="categoryName" name="bCategory">
                    <option value="">전체</option>
                    <option value="place" th:selected="${pageRequestDTO.bCategory=='place'}">명소</option>
                    <option value="food" th:selected="${pageRequestDTO.bCategory=='food'}">음식</option>
                    <option value="accommodation" th:selected="${pageRequestDTO.bCategory=='accommodation'}">숙박</option>
                    <option value="scheduledTravel" th:selected="${pageRequestDTO.bCategory=='scheduledTravel'}">일정여행</option>
                    <option value="themeTravel" th:selected="${pageRequestDTO.bCategory=='themeTravel'}">테마여행</option>
                    <option value="preparation" th:selected="${pageRequestDTO.bCategory=='preparation'}">여행준비정보</option>
                    <option value="guide" th:selected="${pageRequestDTO.bCategory=='guide'}">가이드북</option>
                    <option value="information" th:selected="${pageRequestDTO.bCategory=='information'}">여행정보</option>
                    <option value="schedule" th:selected="${pageRequestDTO.bCategory=='schedule'}">여행일정</option>
                    <option value="review" th:selected="${pageRequestDTO.bCategory=='review'}">후기</option>
                    <option value="performance" th:selected="${pageRequestDTO.bCategory=='performance'}">공연·전시</option>
                    <option value="festival" th:selected="${pageRequestDTO.bCategory=='festival'}">축제·행사</option>
                    <option value="sportsGame" th:selected="${pageRequestDTO.bCategory=='sportsGame'}">스포츠 경기</option>
                </select>
            </div>
            <ul class="controlBox">
                <li class="aBtn">#전체</li>
                <li class="Btn1">#맛집</li>
                <li class="Btn2">#해수욕장</li>
                <li class="Btn3">#축제</li>
                <li class="Btn4">#마켓</li>
            </ul>
            <div class="search-box">
                <div class="input-group-prepend">
                    <select class="form-select" name="type">
                        <option value="tc" th:selected="${pageRequestDTO.type=='tc'}">제목+내용</option>
                        <option value="tcw" th:selected="${pageRequestDTO.type=='tcw'}">제목+내용+작성자</option>
                        <option value="t" th:selected="${pageRequestDTO.type=='t'}">제목</option>
                        <option value="c" th:selected="${pageRequestDTO.type=='c'}">내용</option>
                        <option value="w" th:selected="${pageRequestDTO.type=='w'}">작성자</option>
                    </select>
                </div>
                <input class="form-control" type="search" name="keyword" placeholder="Search" aria-label="Search"
                       th:value="${pageRequestDTO.keyword}">
                <button class="btn btn-light" type="submit">Search</button>
                <a href="/board/userBoard/create" th:href="|@{/admin/board/create}?${pageRequestDTO.getLink()}|" class="ms-auto">
                    <button type="button" class="btn createBtn">글쓰기</button>
                </a>
            </div>
        </form>
    </div>

    <div class="search-box2">
        <div class="search_array">
            <div class="search-inner">
                <div class="all">전체 <span th:text="${responseDTO.total}">3,852</span>건</div>
            </div>
            <div class="search-inner">
                <div class="sort">
                    <a href="#">최신순</a>
                    <a href="#">조회순</a>
                    <a href="#">좋아요순</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="tableBox">
        <table class="table" th:with="link=${pageRequestDTO.getLink()}">
            <thead>
                <tr class="text-center">
                    <th scope="col">글번호</th>
                    <th scope="col">게시판</th>
                    <th scope="col">제목</th>
                    <th scope="col">이름</th>
                    <th scope="col">일시</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="dto:${responseDTO.dtoList}" th:data-link="|@{/admin/board/read}?id=${dto.id}&${link}|">
                    <th scope="row" th:text="${dto.id}"></th>
                    <td th:text="${dto.category}"></td>
                    <td th:text="${dto.title}"></td>
                    <td th:text="${dto.writer}"></td>
                    <td th:text="${#temporals.format(dto.regDate, 'yyyy-MM-dd hh:mm')}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- 페이지 버튼 -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">

            <!-- 불러올 이전 페이지가 있으면 활성화 -->
            <li th:if="${responseDTO.prev}" class="page-item">
                <a class="page-link" href="#" th:data-num="${responseDTO.start-1}">Previous</a>
            </li>

            <!-- 해당 블럭의 시작 페이지 번호와 마지막 번호   시작번호 1 끝번호 10 -->
            <!-- th:each="i : ${#numbers.sequence(${pageResponseDTO.start}, ${pageResponseDTO.end}, +1)}" 이렇게 하면 에러 ${}안에 ${}또 넣으면 안됨 -->
            <th:block th:each="i : ${#numbers.sequence(responseDTO.start, responseDTO.end, +1)}">
                <li class="page-item"
                    th:classappend="${responseDTO.page==i?'active':''}"> <!--  -->
                    <a class="page-link" href="#" th:data-num="${i}">[[${i}]]</a>
                </li>
            </th:block>

            <!-- 불러올 다음 페이지가 있으면 활성화 -->
            <li th:if="${responseDTO.next}" class="page-item">
                <a class="page-link" href="#" th:data-num="${responseDTO.end+1}">Next</a>
            </li>

        </ul>
    </nav> <!-- end page -->

</div> <!-- end fragment="content" -->


<!--/* 현재 페이지에서만 사용하는 script 정의 */-->
<script layout:fragment="myscript" th:inline="javascript">

    console.log("스크립트 실행! :b");

    // document.querySelector('form');  // 폼이 하나면 이렇게 해도 상관없음 // 나중을 위해 비추(까먹고있다가 한참 찾야함)
    const formObj = document.querySelector('.searchForm');

    // 페이징 번호 클릭시 처리하는 함수
    document.querySelector('.pagination').addEventListener('click',function(e) {
        e.preventDefault();  // 기본 이벤트 제거
        e.stopPropagation();  // 버블링(현재 이벤트가 발생한 요소의 상위 요소들에 대해서 이벤트 감지되는 현상) 방지

        console.log('e: ',e);

        const target = e.target;
        if (target.tagName != 'A') {
            console.log("<a>태그가 아니라고!!");
            return;  // <a>태그가 아니면 종료
        }

        const num = target.getAttribute('data-num');  // 현재 클릭된 요소의 data-num을 읽어옴

        // 검색 기능 폼(form)에서 전송
        formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`
        formObj.submit();  // 전송

        // location.href="/board/list?page="+num  // 클릭한 페이지 번호

    }) /* end pagination listener */


    /* 게시글 링크 동작 */

    const table = document.querySelector('.table');
    const rows = table.getElementsByTagName('tr');

    // 각 행에 클릭 이벤트 리스너 추가
    for (let i = 1; i < rows.length; i++) { // 헤더를 제외하기 위해 i를 1로 시작
      rows[i].addEventListener('click', function(e) {
        console.log(e.target);
        console.log(this.getAttribute('data-link'));
        const link = this.getAttribute('data-link');
        location.href= link;
      });
    } /* end table listener */


    const categoryName = document.querySelector('.categoryName');

    categoryName.addEventListener('change',function(){
        console.log("change");
        formObj.submit();  // 전송
    })

</script>

</html>