<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
</head>

<body>
<div class="container"  layout:fragment="content">
    <div class="body">
        <div class="topBox">
            <h1>가이드북</h1>
        </div>
        <div class="search_array">
            <div class="search-inner">
                <div class="all">전체 <span>71</span>건</div>
                <div class="">현재페이지 <span>1/6</span></div>
            </div>
            <div class="search-inner">
                <div class="sort">
                    <select class="select-box form-select" aria-label="Default select example">
                        <option selected="" value="">전체</option>
                        <option value="G01">부산여행</option>
                        <option value="G02">테마여행</option>
                        <option value="G03">음식</option>
                        <option value="G04">지역</option>
                    </select>
                    <select class="select-box form-select" aria-label="Default select example">
                        <option selected="" value="DATA_TITLE">제목</option>
                        <option value="USER_NICK">작성자</option>
                        <option value="DATA_CONTENT">내용</option>
                    </select>
                    <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="">

                </div>
                <button class="btn btn-search" type="submit">검색</button>
            </div>
        </div>
        <div class="postsBox">
            <!-- 게시글 (가로4 * 세로3) -->
            <div class="post downBox">
                <div class="postImgBox"><img th:src="|@{/images/}${menu}/busan1.jpg|" alt="사진"></div>
                <div class="postTitle">부산관광지도</div>
                <div class="down-btn">다운로드</div>
            </div>
            <div class="post downBox">
                <div class="postImgBox"><img th:src="|@{/images/}${menu}/busan1.jpg|" alt="사진"></div>
                <div class="postTitle">부산관광지도</div>
                <div class="down-btn">다운로드</div>
            </div>
            <div class="post downBox">
                <div class="postImgBox"><img th:src="|@{/images/}${menu}/busan1.jpg|" alt="사진"></div>
                <div class="postTitle">부산관광지도</div>
                <div class="down-btn">다운로드</div>
            </div>
            <div class="post downBox">
                <div class="postImgBox"><img th:src="|@{/images/}${menu}/busan1.jpg|" alt="사진"></div>
                <div class="postTitle">부산관광지도</div>
                <div class="down-btn">다운로드</div>
            </div>
            <div class="post downBox">
                <div class="postImgBox"><img th:src="|@{/images/}${menu}/busan1.jpg|" alt="사진"></div>
                <div class="postTitle">부산관광지도</div>
                <div class="down-btn">다운로드</div>
            </div>
            <div class="post downBox">
                <div class="postImgBox"><img th:src="|@{/images/}${menu}/busan1.jpg|" alt="사진"></div>
                <div class="postTitle">부산관광지도</div>
                <div class="down-btn">다운로드</div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="myscript"></th:block>
</body>

</html>