<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminBasic}">


<!-- 현재 페이지에서만 사용하는 css 정의 -->
<style layout:fragment="mystyle" th:inline="css">
</style>

<!-- main_body  -->
<div layout:fragment="content">

    <div class="cate cate_2">

        <h5 class="ms-2" >게시글 N건</h5>
        <br>
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">글번호</th>
                    <th scope="col">게시판</th>
                    <th scope="col">제목</th>
                    <th scope="col">이름</th>
                    <th scope="col">일시</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>온라인 상담</td>
                    <td>온라인 상담문의</td>
                    <td>최고관리자</td>
                    <td>2018-11-27</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div> <!-- end cate_2 -->

</div> <!-- end fragment="content" -->

<!--/* 현재 페이지에서만 사용하는 script 정의 */-->
<script layout:fragment="myscript" th:inline="javascript">
</script>

</html>