/* 아이콘 링크 */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

/* 기본설정 */
@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/NotoSansKR-Regular.ttf') format('truetype');
    letter-spacing: -0.003em;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #333;
    font-family: 'NotoSansKR', sans-serif;
    letter-spacing: -0.5px;
}
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    color: #333;
    text-decoration: none;
}

h1 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 30px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
}

h3 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600;
    line-height: 1.5;
}
h4 {
    font-size: 14px;
}

.main {
    overflow: hidden;
}

.arrow-btn {
    display: flex;
    margin-top: 60px;
}
.l-btn {
    background-image: url('../images/mainpage/visual-arrow-left.svg');
    width: 60px;
    height: 60px;
}
.r-btn {
    background-image: url('../images/mainpage/visual-arrow-right.svg');
    width: 60px;
    height: 60px;
}

/* 이미지 설정 */
.image-container {
    width: 100%; /* 원하는 너비 */
    overflow: hidden; /* 부모 요소를 벗어난 부분을 숨김 */
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container {
        padding: 0;
}

/*버튼*/
.whiteBtn {
    background-color: #fff;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 20px;
    color: #5f6368;
    margin: 10px 0 5px;
    display: inline-block;
    border: 1px solid #5f6368;
}
.blueBtn {
    background-color: #1a73e8;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 20px;
    color: #fff;
    margin: 10px 0 5px;
    display: inline-block;
}

/*관리자 스타일*/
.body {
    display: flex;
    background: #F5F5F5;
}


.header-inner {
    min-width: 320px;
    background: #353535;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
}
.menu>li>a {
    color: #fff;
    padding: 25px 30px;
    display: block;
    font-size: 18px;
}
.menu>li>a:hover {
    background: #4E4E4E;
}
.sub-menu>li>a {
    color: #fff;
    padding: 15px 30px;
    display: block;
    font-size: 16px;
    background-color: #292828;
    border-bottom: 1px solid #555;
}
.sub-menu>li>a:hover {
    background: #222;
}

/*로고*/
.header-inner .logo-box img {
    width: 70px;
}
.header-box {
    border-bottom: 1px solid #4E4E4E;
}
.header-inner .logo-box {
    text-align: center;
    padding: 20px 15px;
    display: inline-block;
}

/*프로필 스타일*/
.user-box {
    padding: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #292929;
    width: 100%;
}
.user-box img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.user-box p {
    color: #fff;
    font-size: 18px;
    margin: 0;
}
.sub-tit {
    font-size: 20px;
    font-weight: 600;
}
.contant-box {
    flex: 1 1 100%;
    padding: 60px 20px;
    overflow-y: scroll;
    height: 100vh;
}
.content-sub-box {
    background-color: #fff;
    margin-bottom: 30px;
}
.content-sub-box table {
    margin: 0;
    font-size: 15px;
    text-align: center;
}
.content-sub-box table tbody tr:last-child {
    border-bottom: 0px solid #fff;
}
.sub-tab {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 5px;
    border-bottom: 1px solid #eee;
}
.sub-tab a {
    font-size: 15px;
    color: #888;
}


/*서브 페이지*/
.search-info {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.search-info span {
    color: #e90049;
}
.searchForm {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.form-select {
    flex: 1 1 20%;
}
.search-inner {
    display: flex;
}
.submitBtn {
    display: block;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    line-height: 42px;
    padding: 0 25px;
    width: auto;
    background: #333;
}
.createBtn {
    display: block;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    line-height: 42px;
    padding: 0 25px;
    border-radius: 21px;
    width: auto;
    background: #333;
}