<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">

<!-- 현재 페이지에서만 사용하는 css 정의 -->
<style layout:fragment="mystyle" th:inline="css">
</style>

<div class="container board listPage userBoard" layout:fragment="content">

    <div class="body">
        <!-- 페이지 이름 -->
        <div class="topBox">
<!--/*            <div>[[${responseDTO}]]</div>*/-->
            <h1>[[${pageRequestDTO.bCategory=='information'?'여행정보':pageRequestDTO.bCategory=='schedule'?'여행일정':'후기'}]]</h1>
            <ul class="controlBox">
                <li class="aBtn active">#전체</li>
                <li class="Btn1">#맛집</li>
                <li class="Btn2">#해수욕장</li>
                <li class="Btn3">#축제</li>
                <li class="Btn4">#마켓</li>
            </ul>
            <form action="/board/userBoard/list" th:action="|@{/board/}${menu}/list|" method="get" role="search" class="search searchForm">
                <input type="hidden" name="bCategory" th:value="${pageRequestDTO.getBCategory()}">
                <div class="input-group-prepend">
                    <select hidden class="form-select" name="type">
                        <option value="tc" th:selected="${pageRequestDTO.type=='tc'}">제목+내용</option>
                        <option value="tcw" th:selected="${pageRequestDTO.type=='tcw'}">제목+내용+작성자</option>
                        <option value="t" th:selected="${pageRequestDTO.type=='t'}">제목</option>
                        <option value="c" th:selected="${pageRequestDTO.type=='c'}">내용</option>
                        <option value="w" th:selected="${pageRequestDTO.type=='w'}">작성자</option>
                    </select>
                </div>
                <input class="form-control" type="search" name="keyword" placeholder="Search" aria-label="Search"
                       th:value="${pageRequestDTO.keyword}">
                <button class="btn btn-light" type="submit">Search</button>
            </form>
        </div>
        <div class="search-box">
            <div class="search-inner right">
                <a href="/board/userBoard/create" th:href="|@{/board/}${menu}/create?${pageRequestDTO.getLink()}|" class="ms-auto">
                    <button class="btn btn-search" >글쓰기</button>
                </a>
            </div>
            <div class="search_array">
                <div class="search-inner">
                    <div class="all">전체 <span th:text="${responseDTO.total}">3,852</span>건</div>

                </div>
                <div class="search-inner">
                    <div class="sort">
                        <a href="#">최신순</a>
                        <a href="#">조회순</a>
                        <a href="#">좋아요순</a>
                    </div>
                </div>
            </div>
        </div>



        <!-- 카테고리 탭 (여행공유,여행일정,후기) -->
        <div class="tab-content" id="nav-tabContent">
            <div class="postsBox" th:with="link=${pageRequestDTO.getLink()}">
                <!-- 게시글 (가로4 * 세로3) -->
                <div class="post" th:each="dto:${responseDTO.dtoList}" th:data-link="|@{/board/}${menu}/read?id=${dto.id}&${link}|">
                    <!-- 게시글에 대한 이미지 첨부파일 -->
                    <div class="postImgBox">
                        <th:block th:if="${dto.boardFiles == null || dto.boardFiles.size() == 0 }">
                            <img th:src="|@{/images/samples/}busan1.jpg|" alt="사진">
                        </th:block>
                        <th:block th:if="${dto.boardFiles != null && dto.boardFiles.size() > 0 }">
                            <img th:src="|/view/s_${dto.boardFiles[0].uuid}==vb==${dto.boardFiles[0].fileName}|" alt="사진">
                        </th:block>
                    </div>
                    <div class="postTitle" th:text="${dto.title}">여행과 힐링을 동시에, 부산 웰니스 관광지 선정(부산웰니스관광, 광안리, 숲, 명상, 스파)</div>
                    <ul class="postText">
                        <li>조회수: <span th:text="${dto.viewCount}">1588</span></li>
                        <li>댓글: <span th:text="${dto.replyCount}">1</span></li>
                        <li>좋아요: <span th:text="${dto.boardLikeCount}">8</span></li>
                    </ul>
                    <div class="postDate" th:text="${#temporals.format(dto.regDate, 'yyyy-MM-dd HH:mm')}">2024.08.22</div>
                </div>
            </div>
        </div> <!-- end class="tab-content" -->

        <!-- 페이지 버튼 -->
        <nav aria-label="Page navigation">
            <ul class="pagination my_pagination justify-content-center mt-4">

                <!-- 불러올 이전 페이지가 있으면 활성화 -->
                <li th:if="${responseDTO.prev}" class="page-item">
                    <a class="page-link" href="#" th:data-num="${responseDTO.start-1}">Previous</a>
                </li>

                <!-- 해당 블럭의 시작 페이지 번호와 마지막 번호   시작번호 1 끝번호 10 -->
                <!-- th:each="i : ${#numbers.sequence(${pageResponseDTO.start}, ${pageResponseDTO.end}, +1)}" 이렇게 하면 에러 ${}안에 ${}또 넣으면 안됨 -->
                <th:block th:each="i : ${#numbers.sequence(responseDTO.start, responseDTO.end, +1)}">
                    <li class="page-item"
                        th:classappend="${responseDTO.page==i?'active':''}"> <!--  -->
                        <a class="page-link" href="#" th:data-num="${i}">[[${i}]]</a>
                    </li>
                </th:block>

                <!-- 불러올 다음 페이지가 있으면 활성화 -->
                <li th:if="${responseDTO.next}" class="page-item">
                    <a class="page-link" href="#" th:data-num="${responseDTO.end+1}">Next</a>
                </li>

            </ul>
        </nav> <!-- end page -->
    </div>

    <div>[[${responseDTO}]]</div>

</div> <!-- end class="container" -->

<!-- 게시판 리스트 스크립트 연결 -->
<script th:src="@{/js/boardList.js}" layout:fragment="basescript"></script>

<!--/* 현재 페이지에서만 사용하는 script 정의 */-->
<script layout:fragment="myscript" th:inline="javascript">
    console.log("스크립트 실행2 :b");
</script>

</html>