<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">


<!-- 현재 페이지에서만 사용하는 css 정의 -->
<style layout:fragment="mystyle" th:inline="css">
</style>

<div class="container board modifyPage userCreate" layout:fragment="content">
    <div class="body">

        <div class="topBox">
            <h1>[[${dto.category=='information'?'여행정보':dto.category=='schedule'?'여행일정':'후기'}]]</h1>
        </div>

        <div class="postBox border rounded-4 mt-4 mx-auto py-3 px-5">

            <form class="modifyForm" action="/board/userBoard/modify" th:action="|@{/board/}${menu}/modify?${pageRequestDTO.getLink()}|" method="post">
                <div class="topBox mt-4">
                    <!-- 카테고리 -->
                    <div class="categoryBox mt-3">
                        <select class="form-select" name="category">
                            <option>- 카테고리 선택 -</option>
                            <option value="information" th:selected="${dto.category=='information'}">여행정보</option>
                            <option value="schedule" th:selected="${dto.category=='schedule'}">여행일정</option>
                            <option value="review" th:selected="${dto.category=='review'}">후기</option>
                        </select>
                    </div>

                    <!-- 장소 링크 (홈페이지에 올려진 장소 링크) (추후 모달창 사용) -->
                    <div class="mt-3">
                        <input type="text" class="form-control location" name="location" placeholder="장소 링크">
                    </div>

                    <!-- 제목 -->
                    <div class="title mt-3">
                        <input type="text" class="form-control" name="title" placeholder="제목 입력 3자 이상 100자 이하"
                               th:value="${dto.title}">
                    </div>

                    <!-- 툴 박스 (기능 추가 가능 할 시 더 추가)-->
                    <!-- 아이콘 사이트 https://fontawesome.com/ 무료 아이콘 사용 -->
                    <div class="toolBox d-flex gap-3 mt-3">
                        <div class="d-flex UIBox">
                            <button><i class="fa-solid fa-check"></i></button>
                            <button><i class="fa-solid fa-outdent"></i></button>
                            <button><i class="fa-regular fa-image"></i></button>
                            <button><i class="fa-solid fa-t"></i>c</button>
                            <button><i class="fa-solid fa-t"></i>bc</button>
                            <button><i class="fa-solid fa-t"></i>s</button>
                            <button><i class="fa-solid fa-fill-drip"></i></button>
                            <button><i class="fa-solid fa-reply"></i></button>
                            <button><i class="fa-solid fa-reply scaleX-R"></i></button>
                        </div>
                    </div>
                </div>
                <hr>

                <!-- 내용 -->
                <div class="contentBox">
                    <textarea class="form-control content" name="content" rows="20" onInput="handleResizeHeight()" placeholder="내용 입력 2000자 제한"
                              th:text="${dto.content}"></textarea>
                    <p>행 수: <span id="rowCount">1</span> 글자 수: <span id="textCount">1</span></p>
                </div>

                <!-- 태그 -->
                <div class="tagBox d-flex gap-2 mt-3">
                    <input type="text" class="form-control tags" name="tags" placeholder="태그 입력 예: #부산, #광안리, #버스투어">
                </div>

                <!-- 글번호-->
                <div class="contentBox">
                    <input type="hidden" class="form-control" name="id" value="test" readonly
                           th:value="${dto.id}">
                </div>

                <!-- 유저 이름 -->
                <div class="contentBox">
                    <input type="hidden" class="form-control" name="writer" value="test" readonly
                           th:value="${dto.writer}">
                </div>

                <!-- 유저 아이디 (체크용)-->
                <div class="contentBox">
                    <input type="hidden" class="form-control" name="writerId" value="test" readonly
                           th:value="${dto.writerId}">
                </div>

                <!-- 첨부파일 등록 모달 버튼 -->
                <div class="mt-3 mb-3 row">
                    <div class="col d-flex">
                        <div><input type="button" id="addFilesBtn" class="btn btn-secondary opacity-50 addFilesBtn" value="이미지 등록"></div>
                        <!-- 이미지 첨부파일 -->
                        <div class="col container-fluid d-flex gap-3 uploadResult" style="flex-wrap:wrap">
                            <th:block th:each="fileName: ${dto.fileNames}" th:if="${dto.fileNames != null && dto.fileNames.size() > 0 }">
                                <div class="card" style="width: 18rem;"
                                     th:with="nameArr=${fileName.split('==vb==')}">  <!-- nameArr [0]uuid [1]fileName -->
                                    <div class="card-header d-flex justify-content-center">
                                        <p>[[${nameArr[1]}]]</p>
                                        <p hidden>${nameArr[1]}</p>  <!-- 그냥 텍스트로 인식 -->
                                        <button type="button" class="btn btn-outline-danger opacity-50" style="margin-left:auto"
                                                th:onClick="javascript:removeFile([[${nameArr[0]}]], [[${nameArr[1]}]], this)" > x </button>
                                    </div>
                                    <div class="card-body">
                                        <img style="" class="w-100" th:data-src="${fileName}"
                                             th:src="|/view/${fileName}|" />
                                    </div>
                                </div>

                            </th:block>
                        </div>
                        <div class="uploadHidden"></div>
                    </div>
                </div>

                <!-- 하단 버튼 -->
                <div class="buttonBox d-flex mt-3">
                    <div class="ms-auto">
                        <a href="/board/userBoard/list" th:href="|@{/board/}${menu}/list?${pageRequestDTO.getLink()}|" class="ms-auto">
                            <button type="button" class="form-control border d-inline cancelBtn">취소</button>
                        </a>
                    </div>
                    <div class="ms-2"><button type="submit" class="form-control border d-inline confirmBtn">수정완료</button></div>
                </div>
            </form>

        </div> <!-- end postBox -->

    </div> <!-- end body -->

    <div>[[${dto}]]</div>

    <!-- 첨부파일 추가를 위한 모달창 -->
    <div class="modal modalUpload fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Upload Files</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 row">
                        <div class="col">
                            <div id="input_files_result_box"><div id="input_files_result"></div></div>
                            <input type="file" class="form-control" id="input_files" name="files" multiple>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary closeModalUpload" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary uploadBtn">업로드</button>
                </div>
            </div>
        </div>
    </div>

    <div class="dataCon" hidden th:data-errors="${errors}" th:data-menu="${menu}" th:data-link="${pageRequestDTO.getLink()}"
         th:data-id="${dto.id}">
        <th:block th:each="fileName:${dto.fileNames}">
            <div class="fileName" th:text="${fileName}"></div>
        </th:block>
    </div>

    <!-- Axios 라이브러리 연결 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- file upload 처리하는 javascript 연결 -->
    <script src="/js/upload.js"></script>

</div> <!-- end fragment="content" -->

<!-- 게시판 수정 스크립트 연결 -->
<script th:src="@{/js/boardModify.js}" layout:fragment="basescript"></script>

<!--/* 현재 페이지에서만 사용하는 script 정의 */-->
<script layout:fragment="myscript" th:inline="javascript">
    console.log("스크립트 실행2 :b");
</script>

</html>