<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- header -->
<header class="header-inner" th:fragment="header-inner">
    <div class="logo-box">
        <a th:href="@{/visitbusan/main}" class="logo">
            <img th:src="@{/images/mainpage/header_logo.png}" alt="로고이미지">
        </a>
    </div>
    <div class="menu_open">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <!-- <div class="menu-box active"> -->
    <div class="menu-box active">
        <div class="menu-btn">
            <div class="menu_close">
                <span></span>
                <span></span>
            </div>
        </div>
        <ul class="menu-list">
            <li><a th:href="@{/board/destinationsList}">부산에 가면</a>
                <ul class="sub-menu01">
                    <li><a href="#">추천여행</a>
                        <ul class="sub-menu02">
                            <li><a th:href="@{/board/destinationsList}">명소</a></li>
                            <li><a th:href="@{/board/food}">음식</a></li>
                            <li><a th:href="@{/board/destinationsList}">숙박</a></li>
                        </ul>
                    </li>
                    <li><a href="#">여행코스</a>
                        <ul>
                            <li><a th:href="@{/board/itineraries}">일정여행</a></li>
                            <li><a th:href="@{/board/thematic-trips}">테마여행</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a th:href="@{board/travel-info}">여행정보</a>
                <ul class="sub-menu01">
                    <li><a th:href="@{/board/travel-info/guidebooks}">가이드북</a></li>
                    <li><a th:href="@{/board/travel-info/preparation-info}">여행준비정보</a></li>
                </ul>
            </li>
            <li>
                <a th:href="@{/travel-share}">여행공유</a>
                <ul class="sub-menu01">
                    <li><a th:href="@{/reviews}">리뷰</a></li>
                </ul>
            </li>
            <li>
                <a th:href="@{/board/festival}">페스티벌</a>
                <ul class="sub-menu01">
                    <li><a th:href="@{/board/festival}">축제행사</a></li>
                </ul>
            </li>
        </ul>
        <ul class="link-box">
            <li><a th:href="@{/user/login}">로그인</a></li>
            <li><a th:href="@{/user/mypage}">마이페이지</a></li>
            <li><a th:href="@{/user/signup_1}">회원가입</a></li>
        </ul>
    </div>
</header>
<!-- /header -->
</body>
</html>